<section id="how-to-generate-public-key">
  <div>
    <h1 class="ds-u-font-size--title ds-u-font-weight--normal ds-u-margin--0">How to Generate a Public Key & Signature</h1>
  </div>
  <div>
    <strong>Window users</strong><br />
    If you are using Windows, you can use this link for downloading openSSL: <%= link_to 'https://wiki.openssl.org/index.php/Binaries', 'https://wiki.openssl.org/index.php/Binaries', target: '_blank' %>
  </div>
</section>