html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-sans;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  color: $color-primary-darkest;
}

[contentEditable="true"]:focus,
[href]:focus,
[tabindex]:focus,
button:not([disabled]):focus,
iframe:focus,
input:not([disabled]):focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus {
  outline: $focus-outline;
  outline-offset: 2px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}