{
  "openapi": "3.0.3",
  "info": {
    "description": "As patients move throughout the healthcare system, providers often struggle to gain and maintain a complete picture of their medical history.<br/><br/>Data at the Point of Care fills in the gaps with claims data to inform providers with secure, structured patient history, past procedures, medication adherence, and more.",
    "version": "2.0.0",
    "title": "Data at the Point of Care",
    "license": {
      "name": "Public Domain",
      "url": "https://github.com/CMSgov/dpc-app/blob/master/LICENSE.md"
    }
  },
  "tags": [
    {
      "name": "Metadata"
    },
    {
      "name": "Group"
    },
    {
      "name": "Organization"
    }
  ],
  "servers": [
    {
      "url": "https://sandbox.dpc.cms.gov",
      "description": "Sandbox server"
    }
  ],
  "paths": {
    "/v2/metadata": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Get FHIR Server Capability Statement",
        "description": "Returns the FHIR Capabilities statement for DPC",
        "operationId": "metadata",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/fhir+json": {
                "example": {
                  "id": "dpc-capabilities",
                  "status": "draft",
                  "date": "2021-04-27",
                  "publisher": "Centers for Medicare and Medicaid Services",
                  "description": "This Capability Statement defines the available resource, endpoints and operations supported by the Data @ the Point of Care Application.",
                  "kind": "instance",
                  "software": {
                    "name": "Data @ Point of Care API",
                    "version": "1.0",
                    "releaseDate": "03-01-2021"
                  },
                  "fhirVersion": "4.0.1",
                  "format": [
                    "application/json",
                    "application/fhir+json"
                  ],
                  "rest": [
                    {
                      "mode": "server",
                      "security": {
                        "cors": true
                      },
                      "resource": [
                        {
                          "type": "Organization",
                          "interaction": [
                            {
                              "code": "read"
                            }
                          ]
                        },
                        {
                          "type": "Group",
                          "interaction": [
                            {
                              "code": "create"
                            }
                          ],
                          "operation": [
                            {
                              "name": "export",
                              "definition": "http://hl7.org/fhir/uv/bulkdata/OperationDefinition/group-export"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "resourceType": "CapabilityStatement"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Organization/{organizationID}": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Read FHIR Organization Resource",
        "description": "Returns the FHIR Organization Resource for the organizationID in DPC",
        "operationId": "getOrganization",
        "parameters": [
          {
            "description": "The UUID of the organization",
            "schema": {
              "type": "string"
            },
            "name": "organizationID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Group/": {
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Create FHIR Group Resource",
        "description": "Create an attribution relationship of patients and practitioners",
        "operationId": "postGroup",
        "requestBody": {
          "description": "attribution relationships in a form of a FHIR Group Resource",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              },
              "examples": {
                "group": {
                  "summary": "Group Example",
                  "value": {
                    "resourceType": "Group",
                    "type": "person",
                    "actual": true,
                    "name": "Test Group",
                    "managingEntity": {
                      "reference": "Organization/123-34242343-234234234",
                      "display": "Healthcare related organization"
                    },
                    "member": [
                      {
                        "extension": [
                          {
                            "url": "http://hl7.org/fhir/us/davinci-atr/StructureDefinition/ext-attributedProvider",
                            "valueReference": {
                              "type": "Practitioner",
                              "identifier": {
                                "system": "http://hl7.org/fhir/sid/us-npi",
                                "value": "9941339108"
                              }
                            }
                          }
                        ],
                        "entity": {
                          "type": "Patient",
                          "identifier": {
                            "value": "2B43243432",
                            "system": "http://hl7.org/fhir/sid/us-mbi"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Reference": {
        "type": "object",
        "properties": {
          "display": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "identifier": {
            "$ref": "#/components/schemas/Identifier"
          }
        }
      },
      "Identifier": {
        "type": "object",
        "properties": {
          "system": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "actual": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "managingEntity": {
            "$ref": "#/components/schemas/Reference"
          },
          "member": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            }
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "entity": {
            "$ref": "#/components/schemas/Reference"
          }
        }
      },
      "Extension": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "valueReference": {
            "$ref": "#/components/schemas/Reference"
          }
        }
      },
      "Organization": {
        "type": "object",
        "example": {
          "id": "832be184-4d45-4d3c-8713-303a4c81280a",
          "identifier": [
            {
              "system": "http://hl7.org/fhir/sid/us-npi",
              "value": "23123213"
            }
          ],
          "meta": {
            "id": "Organization/832be184-4d45-4d3c-8713-303a4c81280a",
            "lastUpdated": "2021-04-21T01:33:43.21+00:00",
            "versionId": "0"
          },
          "name": "Example Name",
          "resourceType": "Organization"
        },
        "properties": {
          "id": {
            "type": "string"
          },
          "identifier": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "name": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "lastUpdated": {
            "type": "string"
          },
          "versionId": {
            "type": "string"
          }
        }
      },
      "OperationOutcome": {
        "type": "object",
        "properties": {
          "issue": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "severity": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "details": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    }
                  }
                },
                "diagnostics": {
                  "type": "string"
                }
              }
            }
          },
          "resourceType": {
            "type": "string"
          }
        }
      }
    }
  }
}
