<body class="ds-base">
    <section class="ds-u-padding-y--7 ds-u-fill--primary-darkest">
        <h2 style="color:blue;">Hello World</h2>
        <p style="color:red;">
          Testing, testing, 1, 2... uh... 3?
        </p>
    </section>
</body>