<div class="ds-l-row actions ds-u-margin-top--3 field-group">
  <div class="ds-l-col--12 ds-l-md-col--3">

  </div>

  <div class="ds-l-col--12 ds-l-md-col--9 field-group__fields ds-u-border--0">
    <%= submit_tag locals[:button_label], class: "ds-c-button ds-c-button--primary", data: { test: "form-submit" } %>
    <%= link_to "Cancel", organization_path(@organization), class: "ds-c-button ds-c-button--transparent" %>
  </div>
</div>
