<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body data-test="vendor-sandbox-content">
    <h1>Dear <%= @user.first_name %> <%= @user.last_name %>,</h1>
    <p>
      Congratulations! You have now been given access to the Data at the Point of Care sandbox! Once you follow the steps below, you will be able to develop and test your solution to retrieve important health history for your provider partners' Original Medicare patients. We are eager to learn how the data is used, especially in cases such as understanding a patient's past history, knowing what preventive items have been performed or are needed, staying updated on what happens to patients in between visits, and being informed of the medication fill information for patients. We know you will find innovative ways to use the data, and we look forward to hearing about your experiences.
    </p>

    <p><strong>To connect to the sandbox, follow these steps.</strong></p>

    <ol>
      <li>Log into your account at <a href="https://dpc.cms.gov">https://dpc.cms.gov</a></li>
      <li>Create a client token. <strong>You will only see this once on the screen, so copy it or download it before leaving the screen</strong>. You can create as many tokens as you need, so create a new one if needed.</li>
      <li>Upload your public keys. For each public key you enter, you will receive a UUID for each key that you will use to authenticate with the API.</li>
      <li>Follow the documentation and start your testing!. Information on the data to use for testing can be
      found here: <a href="https://github.com/CMSgov/dpc-app/blob/main/src/main/resources/README.md">
      https://github.com/CMSgov/dpc-app/blob/main/src/main/resources/README.md</a></li>
    </ol>

    <p>
      Please let us know how you are doing and ask any questions you may have in our Google Group which
      is found <a href="https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!forum/dpc-api">
      here</a>. We look forward to hearing from you soon! Please let us know if we can help!
    </p>

    <p>Sincerely,</p>

    <p>The Data at the Point of Care Team</p>
  </body>
</html>
