<div>
  <div class="margin-bottom-5">&larr; <%= link_to "path", root_path %></div>
  <h1>Add new organization</h1>
  <h2>Look up NPI</h2>
  <%= form_tag organizations_url, method: :post do %>

    <%= render(Core::Form::TextInputComponent.new(
        label: 'What is your Type 2 NPI?',
	      attribute: :npi,
        default: params[:npi],
        input_options: { maxlength: 10 },
        error_msg: @npi_error
    )) %>
    <%= submit_tag "Search for organization", class: "usa-button", data: { test: "form-submit" } %>
  <% end %>
</div>
