<div>
<% if ao? %>
  <h1>Welcome to the DPC Portal</h1>
  <p>As an Authorized Official (AO), use this portal to manage access to Medicare claims data through the Data at the Point of Care (DPC) application programming interface (API)</p>
  <div class="display-flex flex-row flex-justify">
    <div class="flex-align-self-center">
      <h2 class="margin-bottom-0">My organizations</h2>
    </div>
  </div>
  <p>These are organizations for which you serve as an AO. Organizations cannot access Medicare claims data without an AO agreement to follow terms of service.</p>
<% end %>
<ul class="usa-card-group">
    <% @organizations.each do |organization| %>
        <%= render Core::Card::OrganizationCardComponent.new(organization: organization)%>
    <% end %>
</ul>
<%=raw "<p>You don't have any organizations to show.</p>" if @organizations.blank? %>
</div>
