<div id="search_boxes" class="grid-row grid-gap margin-bottom-4">
    <div id="org_name_search" style="float:left">       
        <%= render Core::ComboBox::ComboBoxComponent.new(label: 'Organization Name', id: "org_search_selection", options: @org_names, on_change: "filterOrgName(this);") %>
    </div>
    <div id="npi_search" style="float:left">
        <%= render Core::ComboBox::ComboBoxComponent.new(label: 'NPI', id: "npi_search_selection", options: @org_npis, on_change: "filterNpi(this);")%>
    </div>
</div>
<ul class="usa-card-group">
    <% @organizations.each do |organization| %>
        <%= render Core::Card::OrganizationCardComponent.new(organization: organization)%>
    <% end %>
</ul>

<%= javascript_tag do -%>
    function filterOrgName(selected) {
        filter(selected.value, document.getElementById("npi_search_selection").value);
    }

    function filterNpi(selected) {
        filter(document.getElementById("org_search_selection").value, selected.value);
    }

    function filter(org_name, npi) {
        cards = document.querySelectorAll("li.usa-card");
        
        cards.forEach((card) => {
            filtered = false;

            if((org_name > '') && (card.dataset.name != org_name) ) {
                filtered = true;
            } 
            if((npi > '') && (card.dataset.npi != npi)) {
                filtered = true;
            }

            if(filtered) {
                card.style.display = 'none';
            } else {
                card.style.display = 'block';
            }
        });
    }
<% end -%>
