<div>
<% if ao? %>
  <h1>Welcome to the DPC Portal</h1>
  <p>Use this portal to manage your organization's access to Data at the Point of Care (DPC). Depending on your role, you can register your organization, sign terms of service, and complete API configuration.</p>
  <div class="display-flex flex-row flex-justify">
    <div class="flex-align-self-center">
      <h2 class="margin-bottom-0">My organizations</h2>
    </div>
  </div>
  <p>You’re designated as an Authorized Official (AO) and/or Credential Delegate (CD) of the following organizations. An AO is accountable for organization-level access to the API. The AO can can assign a CD to complete configuration steps on their behalf.</p>
<% end %>

<table class="usa-table usa-table--borderless usa-table--sticky-header">
  <thead>
    <tr>
      <th scope="col">Organization Name</th>
      <th scope="col">NPI-2</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <th scope="row"> <%= link.provider_organization.name %> </th>
        <td> <%= link.provider_organization.npi %> </td>
        <td>
          <% if link.is_ao? %>
            AO
          <% else %>
            CD
          <% end %>
        </td>
        <td>put status here</td>
      </tr>
    <% end %>
  </tbody>
</table>

<ul class="usa-card-group">
   <%= render Core::Card::OrganizationCardComponent.with_collection(@links)%>
</ul>
<%=raw "<p>You don't have any organizations to show.</p>" if @links.blank? %>
</div>
