<div>
<h1>Welcome to the DPC Portal</h1>
<p>Use this portal to manage your organization's access to Data at the Point of Care (DPC) API. Depending on your role, you may register your organization, sign Terms of Service, or setup/manage your organization's API access.</p>
<div class="display-flex flex-row flex-justify">
  <div class="flex-align-self-center">
    <h2 class="margin-bottom-0">My organizations</h2>
  </div>
</div>
<p>You’re designated as an Authorized Official (AO) and/or Credential Delegate (CD) of the following organizations. AOs can register their organization, sign Terms of Service, and manage overall access to the DPC API. CDs are assigned by an AO to help setup and manage the organization's API access.</p>

<% if @links.present? %>
  <div class="usa-table-container--scrollable" tabindex="0">
    <table class="usa-table usa-table--borderless organizations-list table-bg-transparent header-top-border-in-body" style="table-layout: fixed; width: 100%;">
      <caption class="usa-sr-only">
        Organizations you manage as the AO or CD
      </caption>
      <thead>
        <tr>
          <th scope="col" style="width: 50%;">Organization Name</th>
          <th scope="col" style="width: 16.67%;">NPI-2</th>
          <th scope="col" style="width: 8.33%;">Role</th>
          <th scope="col" style="width: 25%;">Status</th>
        </tr>
      </thead>
      <tbody>
        <%= render Core::OrganizationListRow::OrganizationListRowComponent.with_collection(@links)%>
      </tbody>
    </table>
  </div>
<% else %>
  <p>You don't have any organizations to show.</p>
<% end %>
</div>
