<div>
<% if ao? %>
  <h1>Welcome to the DPC Portal</h1>
  <p>As an Authorized Official (AO), use this portal to manage access to Medicare claims data through the Data at the Point of Care (DPC) application programming interface (API)</p>
  <div class="display-flex flex-row flex-justify">
    <div class="flex-align-self-center">
      <h2 class="margin-bottom-0">My organizations</h2>
    </div>
  </div>
  <p>These are organizations for which you serve as an AO. Organizations cannot access Medicare claims data without an AO agreement to follow terms of service.</p>
<% end %>

<table class="usa-table usa-table--borderless usa-table--sticky-header">
  <caption>
    Borderless table: A borderless table can be useful when you want the
    information to feel more a part of the text it accompanies and extends.
  </caption>
  <thead>
    <tr>
      <th scope="col">Organization Name</th>
      <th scope="col">NPI-2</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <th scope="row"> <%= link.provider_organization.name %> </th>
        <td> <%= link.provider_organization.npi %> </td>
        <td>
          <% if link.is_ao? %>
            AO
          <% else %>
            CD
          <% end %>
        </td>
        <td>put status here</td>
      </tr>
    <% end %>
  </tbody>
</table>

<ul class="usa-card-group">
   <%= render Core::Card::OrganizationCardComponent.with_collection(@links)%>
</ul>
<%=raw "<p>You don't have any organizations to show.</p>" if @links.blank? %>
</div>
