<div>
  <h2>Sign Terms of Service</h2>
  <p>Once you sign our Terms of Service, <%= @organization.name %> will be allowed to access Medicare claims data.</p>
  <div style="width: 100%; height: 420px; overflow-y: auto; border: 2px solid silver; padding: 1rem;" class="margin-bottom-5">
    <%= render Core::TosContent::TosContentComponent.new %>
  </div>

  <div>
      <ul class="usa-button-group">
        <li class="usa-button-group__item">
          <%= button_to 'I have read and accepted the Terms of Service', sign_tos_organization_path(@organization), class: 'usa-button' %>
        </li>
        <li class="usa-button-group__item">
          <%= button_to 'Cancel', organizations_path, class: ['usa-button', 'usa-button--unstyled', 'padding-105', 'text-center'], method: :get %>
        </li>
      </ul>
  </div>
</div>
