.git

.idea/
*.iml
.DS_Store

application.local.conf
target/
dependency-reduced-*.xml
*.db
.settings/
.project/
*.project
*.classpath
bbcerts/*
!bbcerts/README.md
!bbcerts/bb.keystore.enc
.java-version

*.code-workspace
.factorypath
dpc-web/.rakeTasks
out/

node_modules/

Dockerfile
*/Dockerfile
docker-compose.yml
*/docker-compose.yml

*-test.sh