.idea/
.vscode/
*.iml
.DS_Store

application.local.conf
target/
dependency-reduced-*.xml
*.db
.settings/
.project/
*.project
*.classpath
bbcerts/*
!bbcerts/README.md
.java-version

# Ignore the IG outputs
ig/output
ig/generated_output
.bin/
dpc-web/public/ig
ig/source/resources/implementationguide/*parameters.json

*.code-workspace
.factorypath
dpc-web/.rakeTasks
out/

node_modules/
jacocoReport/
bzt-out/

# Python ignores
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore smoke tests
jmeter.log
smoke.out

.vault_password
ops/config/decrypted/*
!ops/config/decrypted/README.md
.mvn/

/tmp/letter_opener/admin/*
/tmp/letter_opener/web/*

# Ignore Go unit test results
dpc-go/dpc-api/results.json
dpc-go/dpc-api/test_results/*
dpc-go/dpc-attribution/results.json
dpc-go/dpc-attribution/test_results/*

# Ignore decrypted files
dpc-go/dpc-attribution/shared_files/decrypted/*

# Ignore Go binaries
dpc-go/dpc-api/src/api
dpc-go/dpc-attribution/src/attribution
