.idea/
*.iml
.DS_Store

application.local.conf
target/
dependency-reduced-*.xml
*.db
.settings/
.project/
*.project
*.classpath
bbcerts/*
!bbcerts/README.md
!bbcerts/bb.keystore.enc
.java-version

# Ignore the IG outputs
ig/output
ig/generated_output
.bin/
ig/source/resources/implementationguide/*parameters.json

*.code-workspace
.factorypath
dpc-web/.rakeTasks
out/

node_modules/
jacocoReport/
