.idea/
.vscode/
*.iml
.DS_Store

application.local.conf
target/
dependency-reduced-*.xml
*.db
.settings/
.project/
*.project
*.classpath
bbcerts/*
!bbcerts/README.md
.java-version

*.code-workspace
.factorypath
dpc-web/.rakeTasks
out/

node_modules/
jacocoReport/
bzt-out/

# Python ignores
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore smoke tests
jmeter.log
smoke.out

.vault_password
ops/config/decrypted/*
!ops/config/decrypted/README.md
.mvn/

/tmp/letter_opener/admin/*
/tmp/letter_opener/web/*

# Ignore Go unit test results
**/*test_results/*
