dpc {
  api {
    bbclient.keyStore.location = "bbcerts/bb.keystore"

    bbclient {
      keyStore {
        defaultPassword = "changeit"
        location = "path/to/decrypted/bb.keystore"
      }
      serverBaseUrl = "BFD_URL from decrypted local.env"
    }

    server {
      registerDefaultExceptionMappers = false
      applicationConnectors = [{
        type = http
        port = 3002
      }]
      adminConnectors = [{
        type = http
        port = 9903
      }]
    }
    authenticationDisabled=true
    keyPairLocation = "src/main/resources/keypair/bakery_keypair.json"

    swagger {
            schemes = ["http"]
        }
  }

  attribution {
    server {
      registerDefaultExceptionMappers = false
      applicationConnectors = [{
        type = http
        port = 3500
      }]
      adminConnectors = [{
        type = http
        port = 9902
      }]
    }
  }
  
  aggregation {
      bbclient.keyStore.location = "bbcerts/bb.keystore"

      server {
        registerDefaultExceptionMappers = false
        applicationConnectors = [{
          type = http
          port = 3007
        }]
        adminConnectors = [{
          type = http
          port = 9901
        }]
      }
    }
}
