bzt
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=74.1.2 # Pip will try to downgrade to 65.5.0 and break things
requests>=2.32.2
aiohttp>=3.10.11
zipp>=3.19.1
urllib3>=1.26.19
