<ul class="list">
  <% @client_tokens.each do |token| %>
    <li class="list_item">
      <div class="item_info">
        <div class="item_label">
          <%= token[:label] %>
        </div>
        <div>
          Created: <%= token[:creation_date] %>
        </div>
        <div>
          Expires: <%= token[:expires_at] %>
        </div>
      </div>
    </li>
  <% end %>
</ul>