<ul class="list">
  <% @public_keys.each do |key| %>
    <li class="list_item">
      <div class="item_info">
        <div class="item_id">
          ID: <%= key[:id] %>
        </div>
        <div>
          Created: <%= key[:creation_date] %>
        </div>
      </div>
    </li>
  <% end %>
</ul>