<p>Welcome <%= @user.name %>!</p>

<p>Thank you for registering for the Data at the Point of Care (DPC) portal!</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
Sincerely,<br />
The Data at the Point of Care (DPC) Team
</p>