<h1>Welcome <%= @resource.name %>!</h1>

<p>
You have been invited by a team member at <%= @resource.implementer %> to the Data at the Point of Care (DPC) portal! 
</p>

<p>
Please confirm your account email and create a password through the link below.
</p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, invitation_token: @token) %></p>

<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>

<h2>What's next?</h2>

<p>
After confirming your account, you can begin to test the DPC API and build your solution in sandbox using synthetic data. For more information, review our <a href="https://dpc.cms.gov/docsV2" target="_blank" rel="noopener noreferrer">documentation</a> and <a href="https://github.com/CMSgov/dpc-app/blob/master/src/main/resources/README.md" target="_blank" rel="noopener noreferrer">Github page</a>.
</p>

<p>
When you are ready to demonstrate your DPC solution with our team and get access to production data, you may <a href="https://airtable.com/shr3m3BL3IWY5hYnm" target="_blank" rel="noopener noreferrer">apply to join</a> the production pilot onboarding queue. For more information, visit our <a href="https://dpc.cms.gov/pilot" target="_blank" rel="noopener noreferrer">About the Pilot page</a>.
</p>

<h2>Comments? Questions?</h2>

<p>
If you have any questions or would like to share feedback, please reach out through our <a href="https://groups.google.com/g/dpc-api" target="_blank" rel="noopener noreferrer">Google Group</a>. If you require immediate assistance with registration or logging in, please email us directly at <a href="DPCINFO@cms.hhs.gov">DPCINFO@cms.hhs.gov</a>. 
</p>

<p>
We look forward to hearing about your experiences and learning about your innovative ways to serve Medicare beneficiaries.
</p>

<p>
Sincerely,<br />
The Data at the Point of Care (DPC) Team
</p>