<tr>
  <td><%= client_token['label'] %></td>
  <td><%= formatted_datestr(client_token['expiresAt']) %></td>
  <td data-sort-value="<%= client_token['createdAt'] %>">
    <%= formatted_datestr(client_token['createdAt']) %>
  </td>
  <td>X</td>
</tr>
