<tr>
  <td><%= public_key['label'] %></td>
  <td><%= public_key['id'] %></td>
  <td data-sort-value="<%= public_key['createdAt'] %>">
    <%= formatted_datestr(public_key['createdAt']) %>
  </td>
  <td>X</td>
</tr>
