$link-color: rgb(0, 0, 238);

.organizations-list {
  table-layout: fixed;
  width: 100%;

  .organization-name {
    width: 50%;
  }
  .organization-npi {
    width: 16.67%;
  }
  .orglink-role {
    width: 8.33%;
  }
  .organization-status {
    width: 25%;
  }
}

.organizations-list-row {
  .organization-link {
    color: $link-color;
    display: inline-block;
    text-decoration: underline;
    max-width: 100%;

    &:visited {
      color: $link-color;
    }

    &:hover {
      color: $link-color;
    }
  }

  .organization-name-truncated {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
  }

  th, td {
    background-color: #f0f0f0;
  }
}
