$link-color: #005ea2;

.organizations-list {
  table-layout: fixed;
}

.organizations-list-row {
  .organization-link {
    color: $link-color;
    display: inline-block;
    text-decoration: underline;
    max-width: 100%;

    &:visited {
      color: $link-color;
    }

    &:hover {
      color: $link-color;
    }
  }

  .organization-name-truncated {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
  }

  th, td {
    background-color: #f0f0f0;
  }
}
