<ul class="ds-c-vertical-nav">
  <li class="ds-c-vertical-nav__item">
    <%= link_to "Users", internal_users_path, class: "ds-c-vertical-nav__label ds-c-vertical-nav__label--current" %>
  </li>
  <li class="ds-c-vertical-nav__item">
    <%= link_to "Organizations", internal_organizations_path, class: "ds-c-vertical-nav__label" %>
  </li>
  <li class="ds-c-vertical-nav__item">
    <%= link_to "Tags", internal_tags_path, class: "ds-c-vertical-nav__label" %>
  </li>
</ul>