.btn_to_home {
  background-color: $color-gray-lightest;
  border: 1px solid $color-gray;
  color: $color-base;
  font-weight: 700;
  padding: 8px 20px;
  text-decoration: none;
  width: 140px;

  .icon {
    margin: 4px 10px 4px 0;
  }
}

.btn_to_home:hover, .btn_to_home:visited {
  color: $color-base;
}

.btn_to_home:hover {
  background-color: $color-base;
  color: $color-white;
} 