.tos-container {
  .tos {
    margin: 30px 0 !important;
  }

  input[type="checkbox"]:checked + label:before {
    color: $color-white;
    content: '✔';
    display: inline-block;
    font-size: 1.6em;
  }
}

.header-border {
  border-top: 1px solid $color-gray-light;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}