<% title "Admin Log in" %>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-bottom--1 ds-u-margin-x--auto">
    <div class="card card--border-top card--shadow">
      <h1 class="ds-u-margin-top--0">Log in</h1>

      <%= link_to "Sign in with Github", admin_github_omniauth_authorize_path, method: :post, data: { test: 'admin-sign-in-form' } %>
    </div>
  </div>
</div>
