<div id="portal-welcome">
  <h1 class="ds-text-heading--3xl">Hi <%= current_admin.name %>,</h1>
</div>

<div id="portal-nav">
  <ul class="portalnav">
    <li class="portalnav__item">
      <%= link_to "Implementers", root_path, class: "portalnav__link" %>
    </li>
    <li class="portalnav__item">
      <%= link_to "Users", "#", class: "portalnav__link" %>
    </li>
    <li class="portalnav__item">
      <%= link_to "Providers", "#", class: "portalnav__link" %>
    </li>
  </ul>
</div>