<div id="portal-welcome">
  <h1 class="ds-text-heading--3xl">Hi <%= current_admin.name %>,</h1>
</div>

<div id="navadmin-container">
  <ul class="navadmin">
    <li class="navadmin__item">
      <%= link_to "Implementers", root_path, class: "navadmin__link" %>
    </li>
    <li class="navadmin__item">
      <%= link_to "Users", users_path, class: "navadmin__link" %>
    </li>
    <li class="navadmin__item">
      <%= link_to "Providers", provider_orgs_path, class: "navadmin__link" %>
    </li>
  </ul>
</div>