<% title "Update #{@registered_organization.api_env} API access" %>

<div class="ds-l-container ds-u-padding-x--0">

  <section class="ds-u-display--flex ds-u-justify-content--between ds-u-align-items--center">

    <h1 class="ds-u-font-size--title ds-u-font-weight--normal ds-u-margin--0" data-test="new-org-page">
      Updates <%= @registered_organization.api_env %> API access for <%= @organization.name %>
    </h1>

  </section>

  <section class="box">
    <div class="box__content">
      <%= form_for @registered_organization,
        url: internal_organization_registered_organization_path(organization_id: @organization.id, registered_organization_id: @registered_organization.id) do |f| %>

        <%= render 'internal/registered_organizations/form', f: f, locals: { button_label: "Save"}%>
      <% end %>
    </div>
  </section>
</div>

