<div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">Informative status</h4>
      <p class="usa-alert__text">
        HELLO!
      </p>
      
      <%= image_tag("site-logo.png") %>
    </div>
</div>
