<div class="usa-card>">
    <div class="usa-card__container">   
        <div class="usa-card__header">
            <h2 class="usa-card__heading">Fake Header</h2>
        </div>
        <div class="usa-card__body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="usa-card__footer">
            <p>Fake Footer</p>
        </div>
    </div>
</div>