<li class="usa-card">
    <div class="usa-card__container">
        <div class="usa-card__header">
            <p class="usa-card__heading">Provider Organization</p>
        </div>
        <div class="usa-card__body">
            <p>
                NPI: whatever
            </p>
        </div>
        <div class="usa-card__footer">
            <p>Footer</p>
        </div>
    </div>
</li>
