<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : 'CMS.gov' %> | Data at the Point of Care
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>