<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/site-logo.png" alt="CMS Logo">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" style="margin-left: 5rem;">
        <a class="nav-link dropdown-toggle" href="" id="current_user" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Documentation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" data-method="delete">
            User Guide<span class="sr-only">(user guide)</span>
          </a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="">Support
          <span class="sr-only">(support)</span>
        </a>
      </li>

      <li class="nav-item mr-5">
        <a class="nav-link" href="">Blog
          <span class="sr-only">(blog)</span>
        </a>
      </li>

      <li class="btn-success nav-item">
       <a class="nav-link text-light" href="">Sign Up For Beta!
          <span class="sr-only">(sign up)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="navbar-bottom-panel">
  <div class="row">
    <div class="col-sm">
      <h1>Data Point of Care API</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm lead pt-3 text-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut scelerisque risus.
      Sed mattis placerat ante sit amet auctor. Donec ut nibh lobortis, aliquet ligula quis,
      consectetur nisl. Phasellus eget quam tempor, tempus ligula in, lobortis massa.
      Nullam venenatis varius vestibulum.
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-3">
      <a href="/">
        <button type="button" class="btn btn-outline-light">Read The User Guide →</button>
      </a>
    </div>
    <div class="col-sm">
      <a href="/">
        <button type="button" class="btn btn-outline-light">Sign up for the Beta →</button>
      </a>
    </div>
  </div>
</div>