<div class="ds-l-container">
  <nav class="navbar navbar-light ">
    <a class="navbar-brand" href="#">
      <img src="/assets/site-logo.png" alt="CMS Logo">
    </a>

    <!--
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="topnav">
        <li class="topnav__item">
          <a class="topnav__link" href="">Support</a>
        </li>

        <li class="topnav__item">
          <a class="topnav__link" href="#">Blog</a>
        </li>

        <li class="topnav__item">
         <a class="ds-c-button ds-c-button--success" href="#">Sign Up For Beta!</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="hero">
  <div class="ds-l-container">
    <div class="ds-l-row">
      <div class="ds-l-col--12">
        <h1 class="ds-display">Data Point of Care API</h1>
      </div>
    </div>
    <div class="ds-l-row ds-u-margin-top--3">
      <div class="ds-l-col--8 ds-text--lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut scelerisque risus.
        Sed mattis placerat ante sit amet auctor. Donec ut nibh lobortis, aliquet ligula quis,
        consectetur nisl. Phasellus eget quam tempor, tempus ligula in, lobortis massa.
        Nullam venenatis varius vestibulum.
      </div>
    </div>
    <div class="ds-l-row ds-u-margin-top--7">
      <div class="ds-l-col--4">
        <a href="/">
          <button type="button" class="ds-c-button ds-c-button--inverse ds-c-button--big">Read The User Guide →</button>
        </a>
      </div>
      <div class="ds-l-col--4">
        <a href="/">
          <button type="button" class="ds-c-button ds-c-button--inverse ds-c-button--big">Sign up for the Beta →</button>
        </a>
      </div>
    </div>
  </div>
</div>