<div>
  <%= link_to root_path, class: 'btn_to_home flex-sp-btwn' do %>
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <use xlink:href="/impl/assets/solid.svg#arrow-left"></use>
    </svg>
    <div>
      Back to Home
    </div>
  <% end %>
</div>

<div id="new_provider_form_container">
  <% unless @user.provider_orgs == false %>
  <% else %>
    <%= render partial: 'shared/connection-error' %>
  <% end %>
</div>