<% case @reason %>
<% when 'invalid' %>
<div>
  <h1>Invitation is invalid</h1>
  <div class="usa-alert usa-alert--warning margin-bottom-4">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">Warning Status</h4>
      <p class="usa-alert__text">
	This is a succinct, helpful message.
      </p>
    </div>
  </div>
  <div>
    <p>
      This invitation isn't valid. This could mean X, Y, or Z.
    </p>
  </div>
</div>
<% when 'pii_mismatch' %>
<div>
  <h1>Invitation denied</h1>
  <div class="usa-alert usa-alert--error margin-bottom-4">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">Error status</h4>
      <p class="usa-alert__text">
	This is a succinct, helpful message.
      </p>
    </div>
  </div>
  <div>
    <p>
      Sorry, this invitation is for someone else.
    </p>
  </div>
</div>
<% end %>
