<!--  choose what you want  comment out or Change what you don't note that markdown is not working here -->

<ul class="nav nav-tabs">
  <!-- Content -->
  {% if {{include.active}} == "content" %}
  	<li class="active"><a href="#">Content</a></li>
  {% else %}
  	<li><a
      href="{{include.type}}-{{include.id}}.html">Content</a></li>
  {% endif %}
    

{% if {{include.id}} == "eicr-composition" or {{include.id}} == "rr-communication" % or {{include.id}} == "ecr-knowledge-distribution" %}
    <!-- Definitions -->
    {% if {{include.active}} == "definitions" %}
      <li class="active"><a href="#">Detailed Definitions</a></li>
    {% else %}
      <li><a href="{{include.type}}-{{include.id}}-definitions.html">Detailed Definitions</a></li>
    {% endif %}
{% endif %}

{% if {{include.id}} == "eicr-composition" or {{include.id}} == "rr-communication" %}    
    <!-- Mappings -->  
    {% if {{include.active}} == "mappings" %}
      <li class="active"><a href="#">Mappings</a></li>
    {% else %}
    	<li><a href="{{include.id}}-map.html">Mappings</a></li>
    {% endif %}
{% endif %}
 
  <!-- XML -->
  {% if {{include.active}} == "xml" %}
    <li class="active"><a href="#">XML</a></li>
  {% else %}
    <li><a
      href="{{include.type}}-{{include.id}}.xml.html">XML</a></li>
  {% endif %}
    
    <!-- JSON -->
  {% if {{include.active}} == "json" %}
    <li class="active"><a href="#"
      >JSON</a></li>
  {% else %}
    <li><a href="{{include.type}}-{{include.id}}.json.html">JSON</a></li>
  {% endif %}
 
 
</ul>
