<nav class="breadcrumb">
  {% if page.active == 'home' %}
  <a class="breadcrumb-item btn btn-link btn-sm" href="toc.html">TOC</a><span class="breadcrumb-item active" href="index.html">Home</span>
    {% endif %}
    {% if page.active != 'home' and page.level != 2 %}
      <a class="breadcrumb-item btn btn-link btn-sm" href="toc.html">TOC</a><a class="breadcrumb-item" href="index.html">Home</a>
      /
      <span class="breadcrumb-item active">{{page.title}}</span>
    {% endif %}
    {% if page.level == 2 %}
      {% if {{page.type}} == 'StructureDefinition' %}
        <a class="breadcrumb-item btn btn-link btn-sm" href="toc.html">TOC</a><a class="breadcrumb-item" href="index.html">Home</a>
        /
        <a class="breadcrumb-item" href="profiles.html">Profiles</a>
        /
        <span class="breadcrumb-item active">{{page.path | remove: '.html'}}</span>
      {% endif %}
      {% if {{page.type}} == 'CapabilityStatement' %}
        <a class="breadcrumb-item btn btn-link btn-sm" href="toc.html">TOC</a><a class="breadcrumb-item" href="index.html">Home</a>
        /
        <a class="breadcrumb-item" href="capstatements.html">Capability Statements</a>
        /
        <span class="breadcrumb-item active">{{page.path | remove: '.html'}}</span>
      {% endif %}
      {% if {{page.type}} == 'ConceptMap'  or {{page.type}} == 'CodeSystem'  or {{page.type}} == 'ValueSet' %}
        <a class="breadcrumb-item btn btn-link btn-sm" href="toc.html">TOC</a><a class="breadcrumb-item" href="index.html">Home</a>
        /
        <a class="breadcrumb-item" href="terminology.html">Terminology</a>
        /
        <span class="breadcrumb-item active">{{ page.path | remove: '.html'}}</span>
      {% endif %}
      {% if {{page.type}} == 'StructureMap' %}
        <a class="breadcrumb-item btn btn-link btn-sm" href="toc.html">TOC</a><a class="breadcrumb-item" href="index.html">Home</a>
        /
        <a class="breadcrumb-item" href="structuremaps.html">Mappings</a>
        /
        <span class="breadcrumb-item active">{{ page.path | remove: '.html'}}</span>
      {% endif %}
      {% if {{page.type}} == 'OperationDefinition' %}
        <a class="breadcrumb-item btn btn-link btn-sm" href="toc.html">TOC</a><a class="breadcrumb-item" href="index.html">Home</a>
        /
        <a class="breadcrumb-item" href="operations.html">Operations</a>
        /
        <span class="breadcrumb-item active">{{ page.path | remove: '.html'}}</span>
      {% endif %}
      {% if {{page.type}} == 'SearchParameter' %}
        <a class="breadcrumb-item btn btn-link btn-sm" href="toc.html">TOC</a><a class="breadcrumb-item" href="index.html">Home</a>
        /
        <a class="breadcrumb-item" href="searchparams.html">Search Parameters</a>
        /
        <span class="breadcrumb-item active">{{ page.path | remove: '.html'}}</span>
      {% endif %}
    {% endif %}


</nav>
