<!DOCTYPE HTML>

<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
   <meta charset="UTF-8"/>
  <title>{{site.data.fhir.ig.title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{site.data.fhir.ig.title}} Implemenation Guide" />
<meta name="author" content="{{site.data.fhir.ig.publisher}}"/>
  <link href="fhir.css" rel="stylesheet"/>


   <!-- Bootstrap core CSS -->

   <!-- Latest compiled and minified CSS -->

  <link href="assets/css/bootstrap.css" rel="stylesheet"/>
  <link href="assets/css/bootstrap-fhir.css" rel="stylesheet"/>
  <link href="assets/css/bootstrap-glyphicons.css" rel="stylesheet">

  <!-- Project extras -->
  <link href="assets/css/project.css" rel="stylesheet"/>
  <link href="assets/css/pygments-manni.css" rel="stylesheet"/>
	<link href="assets/css/jquery-ui.css" rel="stylesheet"/>
{% if page.mycss %}
<link href="assets/css/{{page.mycss}}" rel="stylesheet"/>
{% endif %}

  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"/>
  <link rel="shortcut icon" href="assets/ico/favicon.png"/>


<body markdown="1">
<?xml version="1.0" encoding="UTF-8"?>
<div id="segment-header" class="segment">
  <!-- segment-header -->
  <div class="container"><!-- container -->

<!-- hl7 logo -->
    <a no-external="true" href="http://hl7.org/fhir">
      <img alt="FHIR Homepage" class="img-responsive logo" src="assets/images/fhir-logo-www.png"/>
    </a>
<!-- end hl7 logo -->


 <!-- org logo -->
             {% include logo.md %}
  <!-- end org logo -->


      <div id="project-status" class="project-status"> <!-- ig title text -->

      {% if {{site.data.fhir.ig.status}} == 'draft' %}
      <strong>{{site.data.fhir.ig.title}} Implementation Guide CI Build</strong>
      {% else %}
      <strong>{{site.data.fhir.ig.title}} Implementation Guide Release {{site.data.fhir.ig.version}}</strong>
      {% endif %}

    </div><!-- end ig title text -->

  </div><!-- end container -->
  <div class="container">
    <!-- container -->
  </div>
</div>
<!-- /segment-header -->
