<div id="segment-navbar" class="segment">
  <!-- segment-navbar -->
  <div id="stripe">
  </div>
  <div class="container">
    <!-- container -->
    <!-- HEADER CONTENT -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button">
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
        </button>
        <a class="navbar-brand hidden" href="{{ site.data.fhir.path }}index.html">FHIR</a>
        <div class="nav-collapse collapse navbar-inverse-collapse">

       {% capture my-include %}{% include menu.md %}{% endcapture %}{{ my-include | markdownify }}

             <!--        <ul class="nav navbar-nav">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="guidance.html">General Guidance</a>
          </li>
          <li>
            <a href="profiles.html">Profiles and Logical Models</a>
          </li>
          <li>
            <a href="structuremaps.html">Mappings</a>
          </li>
          <li>
            <a href="extensions.html">Extensions</a>
          </li>
          <li>
            <a href="terminology.html">Terminology</a>
          </li>
          <li>
            <a href="searchparams.html">Search Parameters</a>
          </li>
          <li>
            <a href="capstatements.html">Capability Statements</a>
          </li>
          <li>
            <a href="security.html">Security</a>
          </li>
          <li>
            <a href="examples.html">Examples</a>
          </li>
          <li>
            <a href="downloads.html">Downloads</a>
          </li>
        </ul> -->
      </div>
      <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- /.navbar -->
  <!-- /HEADER CONTENT -->
</div>
<!-- /container -->
</div>
<!-- /segment-navbar -->
