.password-check-list {
  font-size: 15px;
  font-weight: 700;

  div {
    margin: 2px 25px;
  }

  div:last-child {
    margin: 2px 25px 15px 25px;
  }

  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: $color-success;
  }
  
  .valid:before {
    position: relative;
    left: -10px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: $color-error;
  }
  
  .invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
  }
}
