<% title "New Organization" %>

<div class="ds-l-container ds-u-padding-x--0">

  <section class="ds-u-display--flex ds-u-justify-content--between ds-u-align-items--center">

    <h1 class="ds-u-font-size--title ds-u-font-weight--normal ds-u-margin--0">Create a new provider organization</h1>

  </section>

  <section class="box">
    <div class="box__content">
      <%= form_for @organization, url: internal_organizations_path do |f| %>
        <%= render 'internal/organizations/fields', f: f, locals: {:button_label => "Create organization"}%>
      <% end %>
    </div>
  </section>
</div>

