database:
  driverClass: org.postgresql.Driver
  url: ${DATABASE_URL:-"jdbc:postgresql://db:5432/dpc_attribution"}
  user: "${ATTRIBUTION_DB_USER:-postgres}"
  password: "${ATTRIBUTION_DB_PASS:-dpc-safe}"
  initialSize: 5
  minSize: 5
  maxSize: 10
  properties:
    charSet: UTF-8
    hibernate.dialect: org.hibernate.dialect.PostgreSQL10Dialect
    hibernate.jdbc.batch_size: 100
    hibernate.order_updates: true
    hibernate.batch_versioned_data: true
    hibernate.order_inserts: true
    hibernate.show_sql: false

server:
  enableThreadNameFilter: false
  registerDefaultExceptionMappers: false
  applicationConnectors:
    - type: http
      port: 8080
  adminConnectors:
    - type: http
      port: 9902
  requestLog:
    appenders:
      - type: console
        timeZone: UTC
        layout:
          type: access-json
          timestampFormat: "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
          additionalFields:
            environment: ${ENV:-"unknown_env"}
            version: ${APP_VERSION:-"unknown_version"}
            application: ${APPLICATION:-"dpc-attribution"}

logging:
  level: WARN
  appenders:
    - type: console
      filterFactories:
        - type: secret-filter-factory
          # List any env vars that contain secrets that should be filtered out of the logs
          secrets:
            - ATTRIBUTION_DB_PASS
            - NEW_RELIC_LICENSE_KEY
      timeZone: UTC
      layout:
        type: json-dpc
        timestampFormat: "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
        additionalFields:
          environment: ${ENV:-"unknown_env"}
          version: ${APP_VERSION:-"unknown_version"}
          application: ${APPLICATION:-"dpc-attribution"}

      # Prevent log entries from being dropped under all circumstances
      # While nice from a performance standpoint, we must ensure full audit capability of the application
      discardingThreshold: 0

  loggers:
    "liquibase": INFO
    "gov.cms.dpc.queue.DistributedBatchQueue": DEBUG
    "org.hibernate": ERROR
    "org.hibernate.SQL": ERROR
    # "org.hibernate.engine.jdbc": "OFF"
    # io.dropwizard.jersey: "OFF"
    # "org.postgresql": "OFF"
    # Turn this on to verify updates/inserts are getting batched
    #"org.hibernate.engine.jdbc.batch.internal.BatchingBatch": DEBUG
    "gov.cms.dpc.api.auth": INFO
    "gov.cms.dpc.common.logging.filters": INFO

expirationThreshold: 90 # In days
migrationEnabled: true

publicServerURL: "https://dpc.cms.gov"

# Disable FHIR validation
fhir:
  validation:
    enabled: false

patientLimit: ${PATIENT_LIMIT:--1}
providerLimit: ${PROVIDER_LIMIT:--1}

lookBackExemptOrgs: ${LOOK_BACK_EXEMPT_ORGS:-["0ab352f1-2bf1-44c4-aa7a-3004a1ffef12","69c0d4d4-9c07-4fa8-9053-e10fb1608b48","c7f5247b-4c41-478c-84eb-a6e801bdb145"]}

swagger:
  resourcePackage: gov.cms.dpc.attribution.resources
  title: "DPC Attribution Service"
  description: |
    This service handles the majority of the application business logic, including authentication and attribution.
    <p>It performs no validation of input data, which is the domain of the API service or any internal services that might call it.
