#Binary
dpc-attribution/src/attribution
dpc-api/src/api

# secure info
.vault_password
dpc-attribution/src/shared_files/decrypted/*
!dpc-attribution/src/shared_files/decrypted/README.md
!dpc-attribution/src/shared_files/decrypted/testdata
/dpc-api/cert/*
