<header class="usa-header usa-header--basic bg-white">
  <div class="grid-container display-flex flex-row flex-justify flex-align-center padding-top-5 padding-bottom-4">
    <div class="usa-navbar">
      <div class="usa-logo margin-bottom-0 margin-top-0">
        <em class="usa-logo__text"><a href=<%= root_path %> class="text-no-underline text-black">Data at the Point of Care</a></em>
      </div>
    </div>
    <%= render Core::Button::ButtonComponent.new(label: "Log Out", destination: destroy_user_session_path, method: :delete) if logged_in %>
  </div>
  <div class="height-2 width-full bg-base-dark"></div>
</header>
