<% title "Home Page" %>

<div id="dashboard__title">
  <h1 class="ds-text-heading--4xl ds-title">DPC Account Home Page</h1>
  <h1 class="ds-text-heading--xl ds-h3 ds-u-margin-top--1">for Implementer <%= @user.implementer %></h1>
</div>

<div class="ds-u-margin-y--4" id="dashboard__welcome">
  Welcome <%= @user.name %>. Wafer candy danish topping tart topping sugar plum lemon drops cake. Dragée lollipop cookie toffee toffee tart soufflé cookie icing. Lemon drops marshmallow topping jelly liquorice sweet roll danish. Donut toffee chocolate chocolate bar icing jelly-o lollipop. Powder cake powder carrot cake oat cake liquorice sugar plum lemon drops jelly beans.
</div>

<div id="dashboard__content">
  <div id="dash_content_nav">
    Nav
  </div>
  <div id="dash_content_orgs">
    Orgs
  </div>
</div>