// Breakpoints
$layout-breakpoint: 965px;
$width-nav: 1085px;

// Colors
$color-gray-ultra-light: #f6f6f6;
$color-success-alt-lightest: rgba($color-success-lightest, .9);
$color-warn-alt: #e27100;
$color-warn-alt-light: rgba($color-warn-lightest, .9);

// Focus
$focus-outline:  5px solid $color-gold-light;

// Replace US WDS font stacks with HealthCare.gov font stacks
$font-mono: 'Roboto Mono', monospace;

// Z-indexes
$z-index-nav:     8000;
$z-index-overlay: 9000;
$z-index-flyout:  10000;