<legend class="field-group__heading">Assign to organzaiton</legend>
<input type="text" class="ds-c-field" id="orgSearchInput" onkeyup="orgSearch()" placeholder="Search for org by name or user id.">

<div class="ds-u-padding-y--2" id='searchMessage'>There are <%= @organizations.count %> organizations available.</div>
<ul class="module-list-container" id="searchList" style="display: none;">

  <% @organizations.each do |org| %>
    <li>
      <%= link_to internal_organization_add_or_delete_url(org, user_id: @user.id, _method: :add), class: "module-container__link", data: { test: "org-select" } do %>
        <div class="module-container ds-u-margin-x--1">
          <div class="module-container__id">
            <%= org.id %>
          </div>
          <div class="module-container__primary">
            <div class="module-container__heading">
              <%= org.name %>
            </div>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>