<% title "Editing #{@user.name}" %>

<div class="ds-l-container ds-u-padding-x--0">
  <section class="ds-u-display--flex ds-u-justify-content--between ds-u-align-items--center">

    <h1 class="ds-u-font-weight--normal ds-u-margin--0">Edit user: <%= @user.name %></h1>

  </section>

  <section class="box">
    <div class="box__content">
      <%= render 'internal/users/form' %>
    </div>
  </section>
</div>

