.ds-u-max-width--none {
  max-width: none !important;
}

.ds-u-fill--gray-ultra-light {
  background-color: $color-gray-ultra-light;
}

.ds-u-color--gray-light {
  color: $color-gray-light;
}

.usa-pagination-color-current {
  color: blue;
}
