// Breakpoints
$width-nav:  1085px;
$width-dash-break: 850px;
$width-dash-nav-break: 849px;

// Colors
$color-white: #fff;

// Focus
$focus-outline:  5px solid $color-gold-light;

// Z-indexes
$z-index-nav:     8000;
$z-index-flyout:  10000;

// Status
.active_status {
  color: $color-success-dark;
}

// Flex
.flex-row-spc-btwn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// CMS variables
.ds-c-alert--warn {
  background-image: url(warning.svg) !important;
}

.ds-c-alert--warn-no-icon {
  background-color: $color-warn-lightest;
  border-color: $color-warn-light;
}

.ds-c-alert__heading {
  color: #000 !important;
}