<div>
  <h1>Client token</h1>
  <div>
    <div class="usa-alert usa-alert--warning margin-bottom-4">
      <div class="usa-alert__body"> 
        <h2 class="usa-alert__heading">Alert</h2>
        <p class="usa-alert__text">
          This token won't be saved if you exit this screen.
        </p>
      </div>
    </div>
    <%= render(Core::Form::TextAreaComponent.new(label: 'Copy client token', attribute: :token, default: client_token['token'], input_options: { rows: 9, readonly: :readonly })) %>
    <%= link_to 'Back to organization', organization_path(organization.path_id), class: ['usa-button', 'usa-button'] %>
    <p class="margin-top-5"><%= link_to 'View API Documentation', 'https://dpc.cms.gov/docsV1' %></p>
  </div>
</div>
