<div>
  <div class="margin-bottom-5">&larr; <%= link_to @organization.name, organization_path(organization.path_id) %></div>
  <h1>Client token created</h1>
  <div>
    <h2>"<%= client_token['label'] %>" created for <%= organization.name %></h2>
    <hr/>
    
  </div>
</div>
