<div class="ds-l-container ds-u-padding-x--0">


    <h1 class="ds-u-font-size--title ds-u-font-weight--normal ds-u-margin--0">Create a new client token</h1>



  <section class="box">
    <div class="box__content">

      <h2 class="box__heading">New token for <%= @organization.name %></h2>
      <hr/>
      <%= form_tag organization_client_tokens_path(organization_id: params[:organization_id]), method: :post do %>

      <%= render(Core::Form::TextInputComponent.new(label: 'Label',
	  attribute: :label,
	  hint: 'Choose a descriptive name to make your token easily identifiable to you.',
	  default: params[:label],
	  input_options: { max_length: 25 })) %>
        <%= submit_tag "Create token", class: "usa-button", data: { test: "form-submit" } %>
      <% end %>
    </div>
  </section>
</div>

