<% title "Frequently asked questions" %>
<% meta_tag :description, "Frequently asked questions about the Data at the Point of Care pilot" %>
<% banner_title "Frequently asked questions" %>

  <div class="ds-text--lead ds-u-measure--wide">
    <p>As CMS continues to gather feedback from users on the Data at the Point of Care (DPC) pilot, we will likely add more FAQs to this page. If you have a question that is not listed below, please reach out through the <a href="https://groups.google.com/d/forum/dpc-api">DPC Google Group</a>.</p>
  </div>

  <div class="usa-accordion usa-accordion--bordered ds-u-margin-top--7">

    <!-- Use the accurate heading level to maintain the document outline -->
    <h1>About DBC: </h1>

    <h1>About Sandbox:</h1>
    <h2 class="usa-accordion__heading">
      <button class="usa-accordion__button" aria-expanded="false" aria-controls="a1">
        What types of providers is CMS looking for to join the synthetic sandbox?
      </button>
    </h2>
    <div id="a1" class="usa-accordion__content">
      <ul>
        <li>Fee-for-Service (FFS) providers who treat Medicare patients</li>
        <li>Providers who already receive claims from other payers and who have successfully integrated the information into existing clinical workflows</li>
        <li>Providers who have experience using Blue Button 2.0 or the Beneficiary Claims Data API project</li>
        <li>Providers who already use or test with FHIR, especially Bulk FHIR</li>
      </ul>
    </div>

    <h2 class="usa-accordion__heading">
      <button class="usa-accordion__button" aria-expanded="false" aria-controls="a3">
        How can I access the synthetic sandbox and begin testing workflows?
      </button>
    </h2>
    <div id="a3" class="usa-accordion__content">
      <ul>
        <li>Any Fee-for-Service provider or Health IT vendor can request access to synthetic data via <%= link_to "Request access", new_user_registration_path %></li>
      </ul>
    </div>

    <h1>About Pilot Production:</h1>
    <h2 class="usa-accordion__heading">
      <button class="usa-accordion__button" aria-expanded="false" aria-controls="c1">
        I've tested my solution with synthetic data - how do I get access to production data?
      </button>
    </h2>
    <div id="c1" class="usa-accordion__content">
      We're excited to invite you to apply to be a production pilot participant! You can sign up to <a href="https://airtable.com/shr3m3BL3IWY5hYnm" target="_blank">join the queue here</a>.
    </div>

    <h2 class="usa-accordion__heading">
      <button class="usa-accordion__button" aria-expanded="false" aria-controls="c2">
        How will I know my organization is ready to join the pilot?
      </button>
    </h2>
    <div id="c2" class="usa-accordion__content">
      DPC is looking for healthcare organizations who meet the following criteria:

      <ol>
        <li>
          You can answer questions about your healthcare organization, including but not limited to EHR and/or data vendor information, number of providers, provider specialties, and/or number of Medicare beneficiaries seen annually
        </li>
        <li>
          You can provide documentation explaining the workflows implemented in your DPC solution for attribution and the clinical display of data. This can be satisfied with workflow diagrams or written procedures.
          <ol>
            <li>
              Attribution (what is your system/user's selection criteria in identifying the patients to be included in requests for data, how do you determine if a patient has an active treatment relationship with the assigned provider, etc.)
            </li>
            <li>
              Data Security processes (who makes the requests, how is that process protected, etc)
            </li>
          </ol>
        </li>
        <li>
          You can attest that your software solution meets the security requirements for DPC, specifically one or more of the following requirements:
          <ol>
            <li>
              Completed and holds an active ONC Health IT Certification
            </li>
            <li>
              Active HITRUST self-validation assessment (valid for one year from implementation if currently pursuing the HITRUST validated assessment)
            </li>
            <li>
              Active HITRUST Validated Assessment
            </li>
            <li>
              EHNAC Accreditation
            </li>
          </ol>
        </li>
        <li>
          You can answer questions regarding your experience testing your solution in sandbox
        </li>
        <li>
          You can demonstrate your DPC solution to the DPC engineering and research team
        </li>
      </ol>
    </div>

    <h2 class="usa-accordion__heading">
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="c3">
      How should I prepare for the demo of our DPC solution?
    </button>
    </h2>
    <div id="c3" class="usa-accordion__content">
      Here's a list of starter questions to help guide your plan for the demo. As we see your solution, additional technical questions may arise.
      <ol>
        <li>
          Walk us through your end-to-end workflow.
          <ol>
            <li>
              How do you attribute patients to practitioners?
            </li>
            <li>
              How will practitioner see the data in your system?
            </li>
          </ol>
        </li>
        <li>
          How frequently will your organization make requests to the API? How quickly will you need the data returned?
        </li>
        <li>
          What is your retry logic for requests that fail?
        </li>
        <li>
          What will you do if you don't get data back for some of the requested patients? For example, data for patients outside of the 18 month lookback period for a given provider will not be returned at this time.
        </li>
        <li>
          How will the data be used? For example, are you using the data for aggregate population reporting, or for insights into the needs of an individual patient?
        </li>
        <li>
          Where does the application live?
          <ol>
            <li>
              Would there be a separate instance if you bring on another practice during pilot or MVP?
            </li>
          </ol>
        </li>
        <li>
          During onboarding in the early phases of pilot, we'll be providing keys directly to the practitioner organization to grant access to production via secure email - we will not be using the same web portal as our sandbox environment. Please consider how to best communicate with the practitioner to securely transfer secrets if necessary.
        </li>
        <li>
          Are you ready for breaking changes during pilot?
          <ol>
            As we introduce new features into pilot, how will you incorporate those changes into your solution?
          </ol>
        </li>
        <li>
          How did you test your DPC solution? What documentation did you use the most?
        </li>
      </ol>
    </div>

    <h2 class="usa-accordion__heading">
      <button class="usa-accordion__button" aria-expanded="false" aria-controls="c4">
        What are the limitations on the data I’ll receive during the pilot?
      </button>
    </h2>
    <div id="c4" class="usa-accordion__content">
      Our goal with the production pilot is not to grant early access to DPC production data, but rather to test specific technical and workflow solutions in a production environment with actual users. The pilot phase of DPC is a learning experience for CMS as well as for our partner organizations, which means that we will make breaking changes to the code while organizations are working in production, and will be looking for feedback from our pilot participants to help us grow. A few limitations for you to know up front:

      <ul>
        <li>
          Claims data access may be limited by the number of claims or the number of beneficiaries requested or returned during the pilot.
        </li>
        <li>
          New patient information will not be immediately available. At this time only patients with a claim within the last 18 months for the attributed provider will be accessible.
        </li>
        <li>
          DPC is not a final product yet. As we continue to gather feedback and do research, it is possible that significant changes may be made to the DPC API - participation in this pilot is a great opportunity to help influence the future direction of the API! We will communicate these changes to all of our production and sandbox community members as they come about, but we may identify the need to temporarily shut down production data access between now and our full release as part of our continued development efforts.
        </li>
      </ul>
    </div>

    <h2 class="usa-accordion__heading">
      <button class="usa-accordion__button" aria-expanded="false" aria-controls="c5">
        I applied to the DPC pilot, what next?
      </button>
    </h2>
    <div id="c5" class="usa-accordion__content">
      DPC will onboard one organization at a time. Depending on the backlog of organizations, this may mean that your organization will sit in the queue for a few months before it is your turn to onboard. We will keep you updated as much as we can and ask that you continue to test your solution in the sandbox during that time as any changes to the production environment will be changed in the sandbox environment first.
    </div>

    <h2 class="usa-accordion__heading">
      <button class="usa-accordion__button" aria-expanded="false" aria-controls="c6">
        What can I do while I’m waiting to join the pilot? 
      </button>
    </h2>
    <div id="c6" class="usa-accordion__content">
      Good news: our sandbox environment matches the production environment, and we'll roll out new functionality in sandbox before sending it into production. Even if you are not able to participate in the production pilot at this juncture, please continue to test in the sandbox environment with synthetic data. Your feedback through the Google Group is invaluable to our researchers and engineers as we all work together to shape the future of DPC.
    </div>
  </div>
