<% title "Frequently asked questions" %>

<h2>FAQ Topic Header</h2>

<div class="usa-accordion usa-accordion--bordered ds-u-margin-top--7">

  <!-- Use the accurate heading level to maintain the document outline -->
  <h2 class="usa-accordion__heading">
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="a1">
      FAQ Question 1?
    </button>
  </h2>
  <div id="a1" class="usa-accordion__content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et odio non ligula scelerisque sagittis. Nam fermentum iaculis convallis. Duis turpis lacus, posuere id cursus eleifend, tempus at leo. Curabitur pretium egestas elit, eget tempus nisi pretium id. Praesent interdum tincidunt felis eget condimentum. Duis viverra feugiat metus, vitae fringilla justo tristique et. Nulla facilisi. Etiam feugiat venenatis commodo. </p>
  </div>

  <!-- Use the accurate heading level to maintain the document outline -->
  <h2 class="usa-accordion__heading">
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="a2">
      FAQ Question 2?
    </button>
  </h2>
  <div id="a2" class="usa-accordion__content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et odio non ligula scelerisque sagittis. Nam fermentum iaculis convallis. Duis turpis lacus, posuere id cursus eleifend, tempus at leo. Curabitur pretium egestas elit, eget tempus nisi pretium id. Praesent interdum tincidunt felis eget condimentum. Duis viverra feugiat metus, vitae fringilla justo tristique et. Nulla facilisi. Etiam feugiat venenatis commodo. </p>
  </div>

  <!-- Use the accurate heading level to maintain the document outline -->
  <h2 class="usa-accordion__heading">
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="a3">
      FAQ Question 3?
    </button>
  </h2>
  <div id="a3" class="usa-accordion__content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et odio non ligula scelerisque sagittis. Nam fermentum iaculis convallis. Duis turpis lacus, posuere id cursus eleifend, tempus at leo. Curabitur pretium egestas elit, eget tempus nisi pretium id. Praesent interdum tincidunt felis eget condimentum. Duis viverra feugiat metus, vitae fringilla justo tristique et. Nulla facilisi. Etiam feugiat venenatis commodo. </p>
  </div>


</div>