<% title "Reference" %>
<% banner_title "Documentation" %>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--4">
    <ul class="sidenav sidenav__main">
      <li class="sidenav__item usa-accordion">
        <a href="#authorization" class="sidenav__link">Authorization</a>
          <ul class="sidenav">
            <li class="ds-u-margin-left--3">
              <a href="#step-one-request-access" class="guide-header2 sidenav__link"> Step One: Request Access</a>
            </li>
            <li class="ds-u-margin-left--3">
              <a href="#step-two-client-tokens" class="guide-header2 sidenav__link"> Step Two: Client Tokens</a>
            </li>
            <li class="ds-u-margin-left--3">
              <a href="#step-three-public-keys" class="guide-header2 sidenav__link">Step Three: Public Keys</a>
            </li>
            <li class="ds-u-margin-left--3">
              <a href="#step-four-json-web-tokens" class="guide-header2 sidenav__link">Step Four: JSON Web Tokens</a>
            </li>
            <li class="ds-u-margin-left--3">
              <a href="#step-five-accessbearer-token" class="sidenav__link">Step Five: Access/Bearer Token</a>
            </li>
          </ul>
      </li>
      <li class="sidenav__item usa-accordion">
        <a href="#attestation--attribution" class="sidenav__link">Attestation & Attribution</a>
        <ul class="sidenav">
          <li class="ds-u-margin-left--3">
            <a href="#load-sample-data" class="guide-header2 sidenav__link">Load Sample Data</a>
          </li>
          <li class="ds-u-margin-left--3">
            <a href="#practioners" class="guide-header2 sidenav__link">Practitioners</a>
          </li>
          <li class="ds-u-margin-left--3">
            <a href="#patients" class="guide-header2 sidenav__link">Patients</a>
          </li>
          <li class="ds-u-margin-left--3">
            <a href="#attestation" class="guide-header2 sidenav__link">Attestation</a>
          </li>
          <li class="ds-u-margin-left--3">
            <a href="#groups-attribution" class="guide-header2 sidenav__link">Groups (Attribution)</a>
          </li>
        </ul>
      </li>
      <li class="sidenav__item usa-accordion">
        <a href="#export-data" class="sidenav__link">Export Data</a>
        <ul class="sidenav">
          <li class="ds-u-margin-left--3">
            <a href="#initiate-an-export-job" class="guide-header2 sidenav__link">Initiate an Export Job</a>
          </li>
          <li class="ds-u-margin-left--3">
            <a href="#specify-which-resources-to-download" class="guide-header2 sidenav__link">Specify Resources</a>
          </li>
          <li class="ds-u-margin-left--3">
            <a href="#patients" class="guide-header2 sidenav__link">Check status of the export job</a>
          </li>
          <li class="ds-u-margin-left--3">
            <a href="#attestation" class="guide-header2 sidenav__link">Retrieve the NDJSON output</a>
          </li>
        </ul>
      </li>
      <li class="sidenav__item">
        <div>
          <%= button_to 'JWT TOOL', download_jwt_tool_path, class: "ds-u-margin-top--1 ds-u-padding--1 ds-c-button--primary ds-u-font-weight--bold download_btn" %>
        </div>
      </li>
      <li class="sidenav__item">
        <div>
          <%= button_to 'PRACTIONER BUNDLE', download_prac_json_path, class: "ds-u-margin-top--1 ds-u-padding--1 ds-c-button--primary ds-u-font-weight--bold download_btn" %>
        </div>
      </li>
      <li class="ßsidenav__item">
        <div>
          <%= button_to 'PATIENT BUNDLE', download_pt_json_path, class: "ds-u-margin-top--1 ds-u-padding--1 ds-c-button--primary ds-u-font-weight--bold download_btn" %>
        </div>
      </li>
    </ul>
  </div>
  <main class="ds-l-col--12 ds-l-md-col--8 ds-u-margin-bottom--7" id="guide-content">
    <%= raw(@html_content) %>
  </main>
</div>

