<% title "Reference" %>
<% banner_title "Documentation" %>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--4">
    <ul class="sidenav">
      <li class="sidenav__item">
        <a href="#information-on-accessing-and-working-with-the-api" class="sidenav__link">Accessing and working with the API</a>
      </li>
      <li class="sidenav__item">
        <a href="#bulk-data" class="sidenav__link">Bulk Data</a>
      </li>
      <li class="sidenav__item">
        <a href="#attribution" class="sidenav__link">Attribution</a>
      </li>
      <li class="sidenav__item">
        <a href="#authentication-and-authorization" class="sidenav__link">Authentication and Authorization</a>
      </li>
      <li class="sidenav__item">
        <a href="#environment" class="sidenav__link">Environment</a>
      </li>
      <div>
        <%= button_to 'DOWNLOAD JWT TOOL', download_jwt_tool_path, class: "ds-u-padding--1 ds-c-button--primary ds-u-font-weight--bold download_btn" %>
      </div>
    </ul>
  </div>
  <main class="ds-l-col--12 ds-l-md-col--8 ds-u-margin-bottom--7">
    <%= raw(@html_content) %>
  </main>
</div>

