.box {
  background-color: $color-white;
  border: 1px solid $color-gray-light;
  border-radius: 3px;
  display: flex;
  margin: $spacer-3 0;
}

.box--flex {
  flex-wrap: wrap;
}

.box__content {
  flex: 1 0 0;
  min-width: 380px;
  padding: $spacer-4;
}

.box__content + .box__content {
  border-left: 1px solid $color-gray-light;
}

.box__subhead {
  margin: 0;
}

@media (max-width: $layout-breakpoint) {
  .box--flex {
    .box__content + .box__content {
      border-left: 0;
      border-top: 1px solid $color-gray-light;
    }
  }
}