// ported from deprecated @cmsgov/design-system-core
#tos {
  $font-normal: 400 !default;
  $measure-wide: 80ex;
  $title-font-size: 48px !default;

  .ds-u-font-size--title {
    font-size: $title-font-size !important;
  }

  .ds-u-font-weight--normal {
    font-weight: $font-normal !important;
  }

  .ds-u-measure--wide {
    max-width: $measure-wide !important;
  }
}
