// variables pulled from
// dpc-static-site/_sass/components/_usa-banner.scss
$color-white: #fff;
$color-gray-light: #aeb0b5;
$color-gray-lighter: #d9d9d9 !default;
$spacer-3: 24px !default;
$spacer-4: 32px !default;

// ported from dpc-static-site/_sass/components/_boxes.scss
// scoped to #tos to avoid conflicting with existing styles
#tos {
  .box {
    background-color: $color-white;
    border: 1px solid $color-gray-light;
    border-radius: 3px;
    display: flex;
    margin: $spacer-3 0;
  }

  .box__content {
    flex: 1 0 0;
    min-width: 380px;
    padding: $spacer-4;
  }
}
