// ported from deprecated @cmsgov/design-system-layout
#tos {
  $multiple: 8px !default;

  $spacers: (
    0,
    $multiple,
    $multiple * 2,
    $multiple * 3,
    $multiple * 4,
    $multiple * 5,
    $multiple * 6,
    $multiple * 7
  ) !default;
  $spacer-1: nth($spacers, 2) !default; // 8px
  $spacer-2: nth($spacers, 3) !default; // 16px
  $spacer-3: nth($spacers, 4) !default; // 24px
  $spacer-4: nth($spacers, 5) !default; // 32px
  $spacer-5: nth($spacers, 6) !default; // 40px
  $spacer-6: nth($spacers, 7) !default; // 48px
  $spacer-7: nth($spacers, 8) !default; // 56px
  $spacer-half: $spacer-1 / 2; // 4px

  $width-xs: 0 !default;
  $width-sm: 544px !default;
  $width-md: 768px !default;
  $width-lg: 1024px !default;
  $width-xl: 1280px !default;

  // Breakpoints
  $breakpoints: (
    sm: $width-sm,
    md: $width-md,
    lg: $width-lg,
    xl: $width-xl
  ) !default;

  $grid-gutter-width: $spacer-4 !default;
  $site-max-width: 1040px !default;


  .ds-l-container {
    margin-left: auto;
    margin-right: auto;
    max-width: $site-max-width;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;

    @media (min-width: $width-sm) {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
    }
  }

  @for $i from 1 through length($spacers) {
    $size: #{nth($spacers, $i)};
    $scale: #{$i - 1};

    // Example: ds-u-margin--0
    .ds-u-margin--#{$scale} {
      // Example: margin: 0 !important;
      margin: #{$size} !important;
    }

    .ds-u-margin-top--#{$scale} {
      margin-top: #{$size} !important;
    }

    .ds-u-margin-right--#{$scale} {
      margin-right: #{$size} !important;
    }

    .ds-u-margin-bottom--#{$scale} {
      margin-bottom: #{$size} !important;
    }

    .ds-u-margin-left--#{$scale} {
      margin-left: #{$size} !important;
    }

    .ds-u-margin-x--#{$scale} {
      margin-left: #{$size} !important;
      margin-right: #{$size} !important;
    }

    .ds-u-margin-y--#{$scale} {
      margin-bottom: #{$size} !important;
      margin-top: #{$size} !important;
    }
  }

  .ds-u-margin--auto {
    margin: auto !important;
  }

  .ds-u-margin-top--auto {
    margin-top: auto !important;
  }

  .ds-u-margin-right--auto {
    margin-right: auto !important;
  }

  .ds-u-margin-bottom--auto {
    margin-bottom: auto !important;
  }

  .ds-u-margin-left--auto {
    margin-left: auto !important;
  }

  .ds-u-margin-x--auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ds-u-margin-y--auto {
    margin-bottom: auto !important;
    margin-top: auto !important;
  }

  @each $breakpoint in map-keys($breakpoints) {
    $value: map-get($breakpoints, $breakpoint);

    @media (min-width: $value) {
      @for $i from 1 through length($spacers) {
        $size: #{nth($spacers, $i)};
        $scale: #{$i - 1};

        // Example: ds-u-sm-margin--0
        .ds-u-#{$breakpoint}-margin--#{$scale} {
          // Example: margin: 0 !important;
          margin: #{$size} !important;
        }

        .ds-u-#{$breakpoint}-margin-top--#{$scale} {
          margin-top: #{$size} !important;
        }

        .ds-u-#{$breakpoint}-margin-right--#{$scale} {
          margin-right: #{$size} !important;
        }

        .ds-u-#{$breakpoint}-margin-bottom--#{$scale} {
          margin-bottom: #{$size} !important;
        }

        .ds-u-#{$breakpoint}-margin-left--#{$scale} {
          margin-left: #{$size} !important;
        }

        .ds-u-#{$breakpoint}-margin-x--#{$scale} {
          margin-left: #{$size} !important;
          margin-right: #{$size} !important;
        }

        .ds-u-#{$breakpoint}-margin-y--#{$scale} {
          margin-bottom: #{$size} !important;
          margin-top: #{$size} !important;
        }
      }

      .ds-u-#{$breakpoint}-margin--auto {
        margin: auto !important;
      }

      .ds-u-#{$breakpoint}-margin-top--auto {
        margin-top: auto !important;
      }

      .ds-u-#{$breakpoint}-margin-right--auto {
        margin-right: auto !important;
      }

      .ds-u-#{$breakpoint}-margin-bottom--auto {
        margin-bottom: auto !important;
      }

      .ds-u-#{$breakpoint}-margin-left--auto {
        margin-left: auto !important;
      }

      .ds-u-#{$breakpoint}-margin-x--auto {
        margin-left: auto !important;
        margin-right: auto !important;
      }

      .ds-u-#{$breakpoint}-margin-y--auto {
        margin-bottom: auto !important;
        margin-top: auto !important;
      }
    }
  }

  @for $i from 1 through length($spacers) {
    $size: #{nth($spacers, $i)};
    $scale: #{$i - 1};

    // Example: ds-u-padding--0
    .ds-u-padding--#{$scale} {
      // Example: padding: 0 !important;
      padding: #{$size} !important;
    }

    .ds-u-padding-top--#{$scale} {
      padding-top: #{$size} !important;
    }

    .ds-u-padding-right--#{$scale} {
      padding-right: #{$size} !important;
    }

    .ds-u-padding-bottom--#{$scale} {
      padding-bottom: #{$size} !important;
    }

    .ds-u-padding-left--#{$scale} {
      padding-left: #{$size} !important;
    }

    .ds-u-padding-x--#{$scale} {
      padding-left: #{$size} !important;
      padding-right: #{$size} !important;
    }

    .ds-u-padding-y--#{$scale} {
      padding-bottom: #{$size} !important;
      padding-top: #{$size} !important;
    }
  }
}
