.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $spacer-2 0;
}

.navbar-brand {
  padding-right: 10rem;
}

.topnav {
  display: flex;
  align-items: center;
  list-style: none;
}

.topnav__item {
  padding-right: $spacer-2;
}

.topnav__link,
.topnav__link:visited {
  text-decoration: none;
  color: $color-gray;
}