<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Data at the Point of Care</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Create an account in the new DPC Portal</h1>
    <p>You’ve been delegated to manage the Data at the Point of Care (DPC) API for:</p>
    <ul>
        <li><%= @invitation.provider_organization.name %></li>
        <li>NPI: <%= @invitation.provider_organization.npi %></li>
    </ul>
    <p>DPC has launched a new verification process for API access. You'll need to accept your invite in DPC’s new onboarding portal.</p>
    <p>&#128073; <%= link_to 'Accept invite', organization_invitation_url(@invitation.provider_organization, @invitation, protocol: Rails.env.production? ? 'https' : 'http') %></p>
    <p>(This link will expire in 48 hours.)</p>
    <p>If you have questions or need help, contact <a href="mailto:dpcinfo@cms.hhs.gov">dpcinfo@cms.hhs.gov</a></p>

    <h2>What is DPC?</h2>
    <p>The <%= link_to 'DPC API', 'https://dpc.cms.gov/' %> gives your organization access to Medicare claims data for treatment and care coordination.</p>

    <h2>What happens when I register</h2>
    <p>You will be asked to sign in or create an account with a government-approved identity verification service.</p>

    <p>Thank you for your interest in Data at the Point of Care.</p>
    <p>- Centers for Medicare & Medicaid Services</p>
  </body>
</html>
