<div class="ds-l-row">
<div class="ds-l-col--12 ds-l-md-col--8">
  <div>
    <span class="ds-c-badge ds-c-badge--warn ds-u-font-size--base">Access requested</span>
  </div>

  <h2>We've received your access request. What's next?</h2>
  <p class="ds-text--lead">
    A Data at the Point of Care administrator will assign you to an organization
    when it is ready to start using the API. After that, you will be able to add your public keys
    and create client tokens. If you have any questions or feel that your assignment is taking
    longer than necessary, contact an administrator in the Google Group.
  </p>
  <a class="ds-c-button ds-c-button--primary" href="https://groups.google.com/d/forum/dpc-api">Google Group</a>
</div>
</div>