<div class="box box--dashed">
  <div class="box__content">
    <h2 class="box__heading">We've received your access request. What's next?</h2>
    <p class="ds-text--lead ds-u-measure--base">
      A Data at the Point of Care administrator will assign you to an organization
      when it is ready to start using the API. After that, you will be able to add your public keys
      and create client tokens. If you have any questions or feel that your assignment is taking
      longer than necessary, contact an administrator in the Google Group.
    </p>
    <a class="ds-c-button ds-c-button--primary" href="https://groups.google.com/d/forum/dpc-api">DPC Google Group
      <svg class="ds-u-margin-left--1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" >
      <use xlink:href="/assets/solid.svg#arrow-right"></use>
    </svg>
    </a>
  </div>
</div>