html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-sans;
}

body {
  overflow-x: hidden;
}

body.nav-is-open {
  overflow: hidden;

  @media (min-width: $width-nav) {
    overflow: visible;
  }
}

.ds-base {
  font-family: $font-sans;
}

h1,
h2,
h3 {
  color: $color-primary-darkest;
}

[contentEditable="true"]:focus,
[href]:focus,
[tabindex]:focus,
button:not([disabled]):focus,
iframe:focus,
input:not([disabled]):focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus {
  outline: $focus-outline;
  outline-offset: 2px;
}

code,
kbd,
samp {
  font-family: $font-mono;
}

blockquote {
  border-left: 5px solid $color-gray-light;
  color: $color-gray;
  margin-left: 0;
  padding-left: $spacer-2;
}

.ds-c-choice + label a {
  margin-left: 1ch;
}