<configuration>
    <appender name="BufferedLogger" class="gov.cms.dpc.testing.RingBufferLogger">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="BufferedLogger"/>
    </root>
</configuration>