<section class="usa-section">
  <div class="grid-row margin-x-neg-205 flex-justify-center">
    <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205 margin-bottom-4">
      <h1 class="desktop:display-none font-sans-lg margin-bottom-4 tablet:margin-top-neg-3">
        Welcome to the DPC API Portal.
      </h1>
      <div class="bg-white padding-y-3 padding-x-5 border border-base-lighter">
        <h1 class="margin-bottom-0">DPC Portal sign in</h1>
        <p>Sign in with your DPC Portal Login.gov account</p>
        <%= button_to @login_path, class: 'usa-button width-full margin-bottom-3', data: { turbo: false } do %>
          Sign in with <span class="login-button__logo">Login.gov</span>
        <% end %>
        <div class="line-separator"></div>
        <p>
          <strong>You must use your unique DPC Portal username and password to sign in.</strong>
        </p>
        <p>
          You will have received an invite to set up these credentials.
        </p>
      </div>
    </div>
    <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205">
      <div class="border-top border-base-lighter padding-top-4 desktop:border-0 desktop:padding-top-0">
        <h2 class="display-none desktop:display-block margin-top-0">
	  Welcome to the DPC API Portal.
	</h2>
        <div class="usa-prose">
          <p>To sign in, you must:</p>
          <ul class="sign-in-instructions">
            <li>Have a unique DPC Portal Login.gov account</li>
            <li>Have received an invite to create that account</li>
            <li>Used the email address identified in your invite</li>
          </ul>
        <div class="line-separator"></div>
          <p>
            You don't need an invite to sign up for the DPC Sandbox. This publicly available resource gives you access to test data.
          </p>
          <form class="button_to" method="get" action="https://sandbox.dpc.cms.gov/">
            <button class="usa-button--outline usa-button" type="submit">Sign up to use test data</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
