<section class="usa-section">
  <div class="grid-row margin-x-neg-205 flex-justify-center">
    <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205 margin-bottom-4">
      <h1 class="desktop:display-none font-sans-lg margin-bottom-4 tablet:margin-top-neg-3">
	Welcome to the production portal for the  Data at the Point of Care (DPC) API
      </h1>
      <div class="bg-white padding-y-3 padding-x-5 border border-base-lighter">
        <h1 class="margin-bottom-0">Sign in to your account</h1>
        <p>You can access or create your account by signing in below.</p>
        <%= button_to @login_path, class: 'usa-button width-full margin-bottom-3', data: { turbo: false } do %>
          Sign in with <span class="login-button__logo">Login.gov</span>
        <% end %>
      </div>
    </div>
    <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205">
      <div class="border-top border-base-lighter padding-top-4 desktop:border-0 desktop:padding-top-0">
        <h2 class="display-none desktop:display-block margin-top-0">
	  Welcome to the production portal for the  Data at the Point of Care (DPC) API
	</h2>
        <div class="usa-prose">
          <p>Use this portal to get production credentials, manage X, and do X. If you're an
            Authorized Official, you'll need to take the following steps:</p>
          <section class="usa-graphic-list">
            <div class="usa-graphic-list__row">
              <div class="usa-media-block margin-y-2">
                <%= image_tag 'circle-gray-20.svg', class: ['usa-media-block__img', 'height-7', 'width-7'] %>
                <div class="usa-media-block__body">
                  <p><strong>Add an organization.</strong> Vivavmus nec velit sed leo scelerisque laoreet vestibulum.</p>
                </div>
              </div>
              <div class="usa-media-block margin-y-2">
                <%= image_tag 'circle-gray-20.svg', class: ['usa-media-block__img', 'height-7', 'width-7'] %>
                <div class="usa-media-block__body">
                  <p><strong>Invite a credential delegate.</strong> Vivavmus nec velit sed leo scelerisque laoreet vestibulum.</p>
                </div>
              </div>
              <div class="usa-media-block margin-y-2">
                <%= image_tag 'circle-gray-20.svg', class: ['usa-media-block__img', 'height-7', 'width-7'] %>
                <div class="usa-media-block__body">
                  <p><strong>Lorem ipsum.</strong> Vivavmus nec velit sed leo scelerisque laoreet</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
