<!DOCTYPE html>
<html lang="en">

  <%= render partial: 'shared/head' %>

  <body class="ds-base">
    <!-- nav -->
    <%= render partial: 'shared/navbar' %>

    <div class="header-seperator"></div>

    <!-- content -->
    <%= yield %>

    <%= render partial: 'shared/footer' %>
  </body>
</html>
