.dashboard {
  display: flex;
  flex-flow: column;
}

.card_list {
  border: $color-gray-light 1px solid;
  margin: 25px 0;
  max-height: 80vh;
  overflow: auto;
  padding: 10px;
}

.card_container {
  background-color: $color-gray-lightest;
  border: $color-gray-light 1px solid;
  color: $color-base;
  display: flex;
  flex-flow: column;
  padding: 10px 25px;
  text-decoration: none;
}

.card_container:visited {
  color: $color-base;
}

.card_container + .card_container {
  margin-top: 20px;
}

.card_container:hover {
  background-color: $color-primary-alt-light;
  color: $color-base;
  cursor: pointer;
}