.navadmin {
  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 1px solid $color-gray-lighter;
  padding: 10px;

  a, a:visited {
    color: $color-black;
    font-weight: 700;
    text-decoration: none;
  }

  li {
    padding: 0 20px;
  }

  li:not(:last-child) {
    border-right: 2px solid $color-black;
  }
}

#navadmin-container {
  padding: 10px;
}