.navadmin {
  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 1px solid $color-gray-lighter;
  padding: 10px;

  a, a:visited {
    color: $color-black;
    font-weight: 700;
    text-decoration: none;
  }

  li {
    padding: 0 20px;
  }

  li:not(:last-child) {
    border-right: 2px solid $color-black;
  }
}

#filter-container {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  justify-content: space-between;
  padding: 5px 10px;

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
  }
}

.cvs_button {
  background-color: $color-primary;
  border: 1px solid $color-primary;
  color: $color-white;
  font-weight: 400;
  padding: 2px 5px;
  text-decoration: none;
}

.cvs_button:hover {
  background-color: $color-white;
  color: $color-primary;
}

.navadmin--current {
  border-bottom: 2px solid $color-primary;
  color: $color-primary !important;
}

#navadmin-container {
  padding: 10px;
}