<% title "Reference" %>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--4">
    <ul class="sidenav">
      <li class="sidenav__item">
        <a href="#information-on-accessing-and-working-with-the-api" class="sidenav__link">Information on accessing and working with the API</a>
      </li>
      <li class="sidenav__item">
        <a href="#bulk-data" class="sidenav__link">Bulk Data</a>
      </li>
      <li class="sidenav__item">
        <a href="#attribution" class="sidenav__link">Attribution</a>
      </li>
      <li class="sidenav__item">
        <a href="#authentication-and-authorization" class="sidenav__link">Authentication and Authorization</a>
      </li>
      <li class="sidenav__item">
        <a href="#environment" class="sidenav__link">Environment</a>
      </li>
      <li class="sidenav__item">
        <a href="#dpc-metadata" class="sidenav__link">DPC Metadata</a>
      </li>
      <li class="sidenav__item">
        <a href="#exporting-data" class="sidenav__link">Exporting data</a>
      </li>
      <li class="sidenav__item">
        <a href="#attributing-patients-to-providers" class="sidenav__link">Attributing Patients to Providers</a>
      </li>
    </ul>
  </div>
  <main class="ds-l-col--12 ds-l-md-col--8" id="main">

    <h1>Reference</h1>

    <%= raw(@html_content) %>
  </main>
</div>

