<% if notice %>
  <div class="ds-c-alert"">
    <div class="ds-c-alert__body">
      <h3 class="ds-c-alert__heading"><%= notice %></h3>
    </div>
  </div>
<% end %>

<% if alert %>
  <div class="ds-c-alert ds-c-alert--error"">
    <div class="ds-c-alert__body">
      <h3 class="ds-c-alert__heading"><%= alert %></h3>
    </div>
  </div>
<% end %>
