<div class="ds-c-alert ds-c-alert--warn ds-u-margin--5">
  <div class="ds-c-alert__body">
    <h2 class="ds-c-alert__heading">We were unable to connect to DPC due to an internal error.</h2>
  </div>
</div>