<a class="ds-c-skip-nav" href="#main">Skip to main content</a>

<nav class="navbar" id="navigation-bar">
  <a class="site-logo" href="/">
    <%= image_tag("top-nav-heart.svg", alt: "DPC logo - a yellow yeart with a bold navy blue outline") %> <span class="site-logo-text">Data at the Point of Care</span>
  </a>

    <div class="topnav-wrap" id="topnav-wrap">
    <button id="topnav__close-button" class="ds-c-button ds-c-button--transparent ds-c-button--big topnav__close-button" type="button"
aria-controls="topnav-wrap" aria-label="Close menu">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <use xlink:href="/assets/solid.svg#times"></use>
      </svg>
    </button>
    <ul class="topnav">
      <li class="topnav__item">
        <%= link_to "Home", root_path, class: "topnav__link"  %>
      </li>

      <li class="topnav__item">
        <%= link_to "Documentation", root_path, class: "topnav__link"  %>
      </li>

      <li class="topnav__item">
        <%= link_to "Frequently Asked Questions", root_path, class: "topnav__link" %>
      </li>

      <li class="topnav__item">
        <a class="topnav__link" href="#"
            id="sign-out" data-method="delete" data-test="internal-user-signout">
            Sign out
        </a>
      </li>
    </ul>
  </div>
</nav>