<div id="dash_content_nav_container">
  <div class="nav_box_container">
    <div class="nav_box" id="dash_nav_help">
      <h2>Need Help?</h2>
      <strong>Resources:</strong>
      <ul>
        <li><a href="<%= ENV['STATIC_SITE_URL'] %>docsV1">DPC's User Guide</a></li>
        <li><a href="https://www.hl7.org/fhir/">HL7 Implementation Guide</a></li>
        <li><a href="https://bluebutton.cms.gov/developers/">BB2.0 Implementation Guide</a></li>
      </ul>
      <strong>Ask questions, collaborate, and share your experience with the DPC community!</strong><br />
      <%= link_to "Join Google Group", "https://groups.google.com/forum/#!forum/dpc-api", class:"ds-c-button ds-c-button--primary google-button", id: 'google-group-link', target: '_blank' %>
    </div>
  </div>
</div>