<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::AO_STEPS, 1)) if @invitation.authorized_official? %>
<div>
  <div>
    <p>Thank you for signing in, <%= @name %>.</p>

    <p>Now that your identity is verified we'll check your and your organization's enrollment with the Medicare Provider Enrollment, Chain, and Ownership System (PECOS).</p>
    <%= render Core::Button::ButtonComponent.new(label: 'Continue to register',
        destination: confirm_organization_invitation_path(@organization, @invitation),
        method: :post) %>
  </div>
</div>
