<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::STEPS, @step)) %>
<div>
  <div class="usa-alert usa-alert--error margin-bottom-4">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= t(@status) %>
      </p>
    </div>
  </div>
  <p><%=raw t(key=@text, org_name: @org_name) %></p>
</div>
