<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::AO_STEPS, @step)) %>
<div>
  <div class="usa-alert usa-alert--error margin-bottom-4">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= t(@status) %>
      </p>
    </div>
  </div>
  <p><%=raw t(key=@text, org_name: @org_name) %></p>
  <% 'have to put statement here, as do not have route helper in ViewComponent'
    if @reason == :fail_to_proof %>
      <%= render Core::Button::ButtonComponent.new(label: 'Go to DPC Portal',
        destination: root_url,
        method: :get) %>
    <% end %>
</div>
