<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::AO_STEPS, 3)) if @invitation.authorized_official? %>
<div>
  <div>
    <p>Your role as Authorized Official and your organization's Medicare enrollment have been verified.</p>
    <%= render Core::Button::ButtonComponent.new(label: "Submit registration",
        destination: register_organization_invitation_path(@organization, @invitation),
        method: :post) %>
  </div>
</div>
