<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::AO_STEPS, 2)) if @invitation.authorized_official? %>
<div>
  <div>
    <p>Complete your registration of <%= @organization.name %>.</p>
    <%= render Core::Button::ButtonComponent.new(label: "Complete registration",
        destination: register_organization_invitation_path(@organization, @invitation),
        method: :post) %>
  </div>
</div>

