<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::STEPS, 2)) if @invitation.authorized_official? %>
<div>
  <div>
    <% if @invitation.credential_delegate? %>
    <h1>Invite code verified</h1>
    <p>Press the button below to complete registration.</p>
    <% else %>
    <h1>Provider organization verified</h1>
    <p>Press the button below to complete retistration for  <strong><%= @organization.name %></strong>.</p>
    <% end %>
    <%= render Core::Button::ButtonComponent.new(label: "Complete registration",
	destination: register_organization_invitation_path(@organization, @invitation),
	method: :post) %>
  </div>
</div>

