<a class="ds-c-skip-nav" href="#main">Skip to main content</a>

<nav class="navbar" id="navbar">
  <a hrev="site-logo" href="/">
    <%= image_tag("top-nav-heart.svg", alt: "DPC Heart Logo") %> <span class="site-logo-text">Data at the Point of Care</span>
  </a>
</nav>