.credentials {
  list-style: none;
  padding: 0;
}

.credentials > td {
  padding: 2px;
  vertical-align: top;
}

.credential {
  display: flex;

  @media (max-width: $width-nav) {
    flex-direction: column;
  }
}

.credential + .credential {
  border-top: 1px dashed $color-gray-lighter;
  margin-top: $spacer-2;
  padding-top: $spacer-2;
}

.credential__name {
  font-size: $h5-font-size;
  margin: 0;
}

.credential__body {
  padding: 0 15px;
}

.credential__meta {
  color: $color-muted;

  p {
    margin: 0;
  }
}

.credential__delete.usa-accordion {
  width: 33%;

  @media (max-width: $width-nav) {
    width: 345px;
  }
}

.credential__delete_button.usa-accordion__button{
  background-image: none;
  background-color: transparent;
  color: $color-gray-light;
  display: inline-block;
  font-weight: bold;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @media (max-width: $width-nav) {
    text-align: left;
  }
}

.credential__btn_container.usa-accordion__content {
  border: 1px solid $color-gray;
}

.credential__text {
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.credential__delete_button.usa-accordion__button[aria-expanded=false] {
  color: $color-primary-darkest;
}

.credential__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0 0 0;
}

.credential__cancel_btn {
  background-color: $color-gray-lightest;
  border: 1px solid $color-gray;
  border-radius: 3px;
  color: $color-gray-dark;
  padding: 8px 24px;
}