.credentials {
  list-style: none;
  padding: 0;
}

.credential {
  display: flex;
  justify-content: space-between;
}

.credential + .credential {
  border-top: 1px dashed $color-gray-lighter;
  margin-top: $spacer-2;
  padding-top: $spacer-2;
}

.credential__name {
  font-size: $h5-font-size;
  margin: 0;
}

.credential__meta {
  color: $color-muted;

  p {
    margin: 0;
  }
}

<<<<<<< HEAD
=======


/* Delete client token accordion */
>>>>>>> parent of 80af66ec... Styling progress
.credential__delete.usa-accordion {
  width: 33%;
}

.credential__delete_button.usa-accordion__button {
  border:0;
  border-radius:0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: none;
  background-color: transparent;
  border:0;
  border-radius:0;
  color: $color-primary-darkest;
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.credential__delete_button.credential__delete_button.usa-accordion__button[aria-expanded="true"] {
  color: $color-gray-light;
}

.credential__actions.usa-accordion__content {
  border: 1px solid $color-gray-dark;
  display: flex;
  flex-direction: column;
  font-weight: bold;

  .credential__delete_btn_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}