.credentials {
  list-style: none;
  padding: 0;
}

.credential + .credential {
  border-top: 1px dashed $color-gray-lighter;
  margin-top: $spacer-2;
  padding-top: $spacer-2;
}

.credential__name {
  font-size: $h5-font-size;
  margin: 0;
}

.credential__meta {
  color: $color-muted;

  p {
    margin: 0;
  }
}