.filter-group {
  padding: 0;
}

.filter-group__heading {
  font-size: $h4-font-size;
  font-weight: $font-bold;
  padding: $spacer-4 0;
}

.filter-group__fields {
  border-bottom: 1px solid $color-gray-light;
  padding: $spacer-4 0;
}

.filter-group__hint {
  color: $color-gray;
  margin-bottom: 0;
}