.module-container {
  background-color: $color-white;
  border: 1px solid $color-gray-light;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: $spacer-2 0;

  @media (min-width: $width-sm) {
    flex-direction: row;
  }
}

.module-container__id {
  background-color: $color-gray-dark;
  color: $color-white;
  padding: $spacer-1 $spacer-2;

  @media (min-width: $width-sm) {
    background-color: $color-gray-lightest;
    color: $color-gray;
    padding: $spacer-2;
  }
}

.module-container__content-wrap {
  padding: $spacer-2;
}

.module-container__primary {
  display: flex;
  flex: 1;
  flex-direction: column;

  @media (min-width: $width-sm) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.module-container__button {
  padding: $spacer-1 $spacer-2;
}

.module-container__heading {
  font-size: $h4-font-size;
  font-weight: $font-bold;
  margin: 0;
  padding: $spacer-2 $spacer-2 $spacer-1;

  a,
  a:visited {
    color: $color-primary;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.module-container__primary__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: $spacer-2;
}

.module-container__notes-summary {
  .icon {
    position: relative;
    top: 2px;
  }
}

.module-container__secondary {

  @media (min-width: $width-sm) {
    border-left: 1px solid $color-gray-light;
    flex: .61803398875;
  }
}

.module-container__indicator {
  padding: $spacer-2;
}

.module-container__indicator--warn {
  background-color: $color-warn-alt-light;
  color: $color-warn-alt;
  font-weight: $font-bold;
}

.module-container__indicator--success {
  background-color: $color-success-alt-lightest;
  color: $color-success;
  font-weight: $font-bold;
}

.module-list-container {
  border: 1px solid $color-gray-lighter;
  list-style: none;
  max-width: 850px;
  max-height: 500px;
  overflow: auto;
  padding: 0;

  ul {
    padding: 0;
  }
}

.module-container__link {
  color: $color-primary;
  text-decoration: none;
}

.module-container__link:visited {
  color: $color-primary;
}

.module-container__link:hover {
  .module-container__primary {
    background-color: $color-gray-lightest;
  }
}