<configuration>
    <appender name="buffer" class="gov.cms.dpc.common.logging.RingBufferLogger">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
        <dumpWith>error</dumpWith>
    </appender>
    <root level="trace">
        <appender-ref ref="buffer"/>
    </root>
</configuration>