name: Api-Waf-Sync Deploy

on:
  workflow_call:
    inputs:
      env:
        description: AWS environment to deploy to
        required: true
        type: string
        default: "dev"

  workflow_dispatch:
    inputs:
      env:
        description: AWS environment to deploy to
        required: true
        type: string
        default: "dev"

jobs:
  deploy:
    name: 'Deploy API WAF sync'
    uses: ./.github/workflows/update_fwdw_passwords.yml
    permissions:
      id-token: write
      contents: read
    with:
      env: ${{ inputs.env || 'dev' }}
    secrets: inherit
