name: utility-check-healthy

on:
  workflow_call:
    inputs:
      env:
        description: AWS environment to check
        required: true
        type: 'string'
        default: 'dev'

jobs:
  wait-for-services:
    name: Wait for services to be healthy
    runs-on: codebuild-dpc-app-${{github.run_id}}-${{github.run_attempt}}
    strategy:
      matrix:
        include:
          - service: api
            script_params: api-1 api api frontend v9
            skip: false
          - service: attribution
            script_params: attribution attribution attribution backend v9
            skip: false
          - service: aggregation
            script_params: aggregation aggregation aggregation backend v9
            skip: false
          - service: web
            script_params: web-v2-1 web web frontend v9
            skip: ${{ inputs.env == 'prod' }}
          - service: admin
            script_params: web-admin-1 web-admin web-admin frontend v9
            skip: ${{ inputs.env == 'prod' }}
          - service: portal
            script_params: web-portal-1 dpc-portal web-portal frontend v9
            skip: ${{ inputs.env == 'prod' || inputs.env == 'sandbox' }}
    steps:
      - name: "Checkout code"
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          path: dpc-app
      - name: AWS Credentials (non-prod)
        if: ${{ inputs.env == 'dev' || inputs.env == 'test' }}
        uses: aws-actions/configure-aws-credentials@b47578312673ae6fa5b5096b330d9fbac3d116df # v4.2.1
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.NON_PROD_ACCOUNT_ID }}:role/delegatedadmin/developer/dpc-${{ inputs.env }}-github-actions
      - name: AWS Credentials (prod)
        if: ${{ inputs.env == 'sandbox' || inputs.env == 'prod' }}
        uses: aws-actions/configure-aws-credentials@b47578312673ae6fa5b5096b330d9fbac3d116df # v4.2.1
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.PROD_ACCOUNT_ID }}:role/delegatedadmin/developer/dpc-${{ inputs.env }}-github-actions
      - name: Check Service
        run: |
          ./dpc-app/scripts/check-deployment-status.sh ${{ inputs.env }} ${{ matrix.script_params }} ${{ matrix.skip }}
