name: "DPC CI Workflow"

on:
  pull_request:
    paths:
      - .github/workflows/ci-workflow.yml
      - dpc-admin/**
      - dpc-aggregation/**
      - dpc-api/**
      - dpc-attribution/**
      - dpc-bluebutton/**
      - dpc-common/**
      - dpc-macaroons/**
      - dpc-portal/**
      - dpc-queue/**
      - dpc-smoketest/**
      - dpc-test.sh
      - dpc-testing/**
      - dpc-web/**
      - engines/**
      - pom.xml
      - src/**
  workflow_dispatch: # Allow manual trigger

permissions:
  id-token: write
  contents: read

concurrency:
  group: ci-workflow-${{ github.ref }}
  cancel-in-progress: true

env:
  VAULT_PW: ${{ secrets.VAULT_PW }}
  REPORT_COVERAGE: true
  DPC_CA_CERT: ${{ secrets.DPC_CA_CERT }}
  ENV: "github-ci"

jobs:
  sonar-quality-gate-dpc-web-and-admin:
    name: Sonarqube Quality Gate for dpc-web and dpc-admin
    runs-on: codebuild-dpc-app-${{github.run_id}}-${{github.run_attempt}}
    env:
      # Workaround until https://jira.cms.gov/browse/PLT-338 is implemented.
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: "true"
    steps:
      - name: Assert Ownership
        run: sudo chmod -R 777 .
      - name: "Checkout code"
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          fetch-depth: 0
      - name: Cleanup Runner
        run: ./scripts/cleanup-docker.sh
      - name: Set env vars from AWS params
        uses: cmsgov/cdap/actions/aws-params-env-action@main
        env:
          AWS_REGION: ${{ vars.AWS_REGION }}
        with:
          params: |
            SONAR_HOST_URL=/sonarqube/url
            SONAR_TOKEN=/sonarqube/token
      - name: Run quality gate scan
        uses: sonarsource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        with:
          args:
            -Dsonar.projectKey=bcda-dpc-web
            -Dsonar.sources=./dpc-web/app,./dpc-web/lib,./dpc-admin/app,./dpc-admin/lib
            -Dsonar.ruby.coverage.reportPaths=./web-resultset.json,./admin-resultset.json
            -Dsonar.working.directory=./sonar_workspace
            -Dsonar.branch.name=${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}
            -Dsonar.projectVersion=${{ github.ref_name == 'main' && github.sha || 'branch' }}
            -Dsonar.qualitygate.wait=true
            -Dsonar.ci.autoconfig.disabled=true
            -Dsonar.branch.target=${{ github.base_ref || 'main' }}
      - name: Cleanup
        if: ${{ always() }}
        run: ./scripts/cleanup-docker.sh

  sonar-quality-gate-dpc-portal:
    name: Sonarqube Quality Gate for dpc-portal
    runs-on: codebuild-dpc-app-${{github.run_id}}-${{github.run_attempt}}
    env:
      # Workaround until https://jira.cms.gov/browse/PLT-338 is implemented.
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: "true"
    steps:
      - name: Assert Ownership
        run: sudo chmod -R 777 .
      - name: "Checkout code"
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          fetch-depth: 0
      - name: Cleanup Runner
        run: ./scripts/cleanup-docker.sh
      - name: Set env vars from AWS params
        uses: cmsgov/cdap/actions/aws-params-env-action@main
        env:
          AWS_REGION: ${{ vars.AWS_REGION }}
        with:
          params: |
            SONAR_HOST_URL=/sonarqube/url
            SONAR_TOKEN=/sonarqube/token
      - name: Run quality gate scan
        uses: sonarsource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        with:
          args:
            -Dsonar.projectKey=bcda-dpc-portal
            -Dsonar.sources=./dpc-portal/app,./dpc-portal/lib
            -Dsonar.coverage.exclusions=**/*_preview.rb,**/*html.erb,**/application_*
            -Dsonar.ruby.coverage.reportPaths=./portal-resultset.json
            -Dsonar.working.directory=./sonar_workspace
            -Dsonar.branch.name=${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}
            -Dsonar.projectVersion=${{ github.ref_name == 'main' && github.sha || 'branch' }}
            -Dsonar.qualitygate.wait=true
            -Dsonar.ci.autoconfig.disabled=true
            -Dsonar.branch.target=${{ github.base_ref || 'main' }}
      - name: Cleanup
        if: ${{ always() }}
        run: ./scripts/cleanup-docker.sh

  sonar-quality-gate-dpc-api:
    name: Sonarqube Quality Gate for dpc-api
    runs-on: codebuild-dpc-app-${{github.run_id}}-${{github.run_attempt}}
    env:
      # Workaround until https://jira.cms.gov/browse/PLT-338 is implemented.
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
    steps:
      - name: Assert Ownership
        run: sudo chmod -R 777 .
      - name: Checkout Code
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          fetch-depth: 0
      - name: Cleanup Runner
        run: ./scripts/cleanup-docker.sh
      - name: Set env vars from AWS params
        uses: cmsgov/cdap/actions/aws-params-env-action@main
        env:
          AWS_REGION: ${{ vars.AWS_REGION }}
        with:
          params: |
            SONAR_HOST_URL=/sonarqube/url
            SONAR_TOKEN=/sonarqube/token
      - name: Install Maven 3.6.3
        run: |
          export PATH="$PATH:/opt/maven/bin"
          echo "PATH=$PATH" >> $GITHUB_ENV
          if mvn -v; then echo "Maven already installed" && exit 0; else echo "Installing Maven"; fi
          tmpdir="$(mktemp -d)"
          curl -LsS https://archive.apache.org/dist/maven/maven-3/3.6.3/binaries/apache-maven-3.6.3-bin.tar.gz | tar xzf - -C "$tmpdir"
          sudo rm -rf /opt/maven
          sudo mv "$tmpdir/apache-maven-3.6.3" /opt/maven
      - name: Clean maven
        run: |
          mvn -ntp -U clean
      - name: Run quality gate scan
        run: |
          mvn org.sonarsource.scanner.maven:sonar-maven-plugin:4.0.0.4121:sonar \
          -Dsonar.projectKey=bcda-dpc-api \
          -Dsonar.branch.name=${{ github.event_name == 'pull_request' && github.head_ref || github.event_name == 'pull_request' && github.head_ref || github.ref_name }} \
          -Dsonar.working.directory=./.sonar_workspace -Dsonar.projectVersion=${{ github.ref_name == 'main' && github.sha || 'branch' }} \
          -Dsonar.qualitygate.wait=true \
          -Dsonar.coverage.jacoco.xmlReportPaths="../jacoco-reports/*.xml" \
          -Dsonar.ci.autoconfig.disabled=true \
          -Dsonar.branch.target=${{ github.base_ref || 'main' }}
      - name: Cleanup
        if: ${{ always() }}
        run: ./scripts/cleanup-docker.sh
