name: "DPC CI Workflow"

on:
  pull_request:
    paths:
      - .github/workflows/ci-workflow.yml
      - dpc-admin/**
      - dpc-aggregation/**
      - dpc-api/**
      - dpc-attribution/**
      - dpc-bluebutton/**
      - dpc-common/**
      - dpc-macaroons/**
      - dpc-portal/**
      - dpc-queue/**
      - dpc-smoketest/**
      - dpc-test.sh
      - dpc-testing/**
      - dpc-web/**
      - engines/**
      - pom.xml
      - src/**
  workflow_dispatch: # Allow manual trigger

permissions:
  id-token: write
  contents: read

env:
  VAULT_PW: ${{ secrets.VAULT_PW }}
  REPORT_COVERAGE: true
  DPC_CA_CERT: ${{ secrets.DPC_CA_CERT }}
  ENV: "github-ci"

jobs:
  build-api:
    name: "Build and Test API"
    runs-on: codebuild-dpc-app-${{github.run_id}}-${{github.run_attempt}}
    steps:
      - run: |
          echo ${{ github.ref }}
          echo ${{ github.ref_name }}
          echo ${{ github.base_ref }}
