name: 'DPC - ECS Deploy'

on:
  workflow_dispatch:
    inputs:
      env:
        description: AWS environment to deploy to
        required: true
        type: 'string'
        default: 'dev'
      confirm_env:
        description: Double check for environment
        required: true
        type: 'string'
        default: ''
      ecr_image_tag:
        description: Image tag to deploy
        required: false
        type: 'string'
        default: 'latest'
      app-version:
        description: 'The version of dpc-app being deployed (ex: r###, xx_test_branch).  This will appear in logs under the "version" property".'
        required: false
        type: 'string'
        default: 'unknown'
      ops-ref:
        description: Branch of dpc-ops to use
        required: false
        type: 'string'
        default: 'main'
  workflow_call:
    inputs:
      env:
        description: AWS environment to deploy to
        required: true
        type: 'string'
        default: 'dev'
      confirm_env:
        description: Double check for environment
        required: true
        type: 'string'
        default: ''
      ecr_image_tag:
        description: Image tag to deploy
        required: false
        type: 'string'
        default: 'latest'
      app-version:
        description: 'The version of dpc-app being deployed (ex: r###, xx_test_branch).  This will appear in logs under the "version" property".'
        required: false
        type: 'string'
        default: 'unknown'
      ops-ref:
        description: Branch of dpc-ops to use
        required: false
        type: 'string'
        default: 'main'

concurrency:
  group: deploy-to-${{ inputs.env }}
  cancel-in-progress: false

permissions:
  id-token: write
  contents: read

env:
  TENV_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  services-up:
    name: All Services Healthy
    needs: deploy
    uses: ./.github/workflows/check_healthy.yml
    with:
      env: ${{ inputs.env }}
    secrets: inherit

