name: DPC - Set SSM Params
run-name: DPC - Set SSM Params ${{ inputs.environment }}

on:
  workflow_call:
    inputs:
      environment:
        description: AWS environment
        required: true
        type: string
  workflow_dispatch:
    inputs:
      environment:
        description: AWS environment
        required: true
        type: choice
        options:
          - dev
          - test
          - sandbox
          - prod

concurrency:
  group: tofu-plan-or-apply-${ inputs.environment }

env:
  TENV_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  apply:
    permissions:
      contents: read
      id-token: write
    runs-on: codebuild-dpc-app-${{github.run_id}}-${{github.run_attempt}}
    env:
      APP: dpc
      ENV: ${{ inputs.environment }}
      BOOTSTRAP_ENV: ${{ contains(fromJSON('["dev", "test"]'), inputs.environment) && 'test' || 'prod' }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: tofu apply - config
        working-directory: ops/services/10-config/
        run: |
          ls
          cat tofu.tf
