name: 'DPC - Update FDW Passwords'

on:
  workflow_call:
    inputs:
      env:
        description: AWS environment to update FDW passwords
        required: true
        type: 'string'
        default: dev
  workflow_dispatch:
    inputs:
      env:
        description: AWS environment to update FDW passwords
        required: true
        type: 'string'
        default: dev

jobs:
  update:
    name: "Update DFW Passwords"
    runs-on: codebuild-dpc-app-${{github.run_id}}-${{github.run_attempt}}
    steps:
      - name: "Checkout code"
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - uses: aws-actions/configure-aws-credentials@b47578312673ae6fa5b5096b330d9fbac3d116df # v4.2.1
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.NON_PROD_ACCOUNT_ID }}:role/delegatedadmin/developer/dpc-test-github-actions
      - name: Get database credentials
        uses: cmsgov/cdap/actions/aws-params-env-action@main
        env:
          AWS_REGION: ${{ vars.AWS_REGION }}
        with:
          params: |
            DB_USER=/dpc/${{ inputs.env }}/master_username
            DB_PASSWORD=/dpc/${{ inputs.env }}/master_password
            ATTRIBUTION_READ_ONLY_USER=/dpc/${{ inputs.env }}/attribution/db_read_only_user_dpc_attribution
            ATTRIBUTION_READ_ONLY_DB_PASS=/dpc/${{ inputs.env }}/attribution/db_read_only_pass_dpc_attribution
            HOST=/dpc/${{ inputs.env }}/db/url
      - name: Stop old db container if exists
        run: |
          docker stop dpc-app-db-1 || echo 'noop, not running'
      - name: Remove old db container if exists
        run: |
          docker rm dpc-app-db-1 || echo 'noop, not exists'
      - name: Run db container
        run: |
          docker run --rm --name dpc-app-db-1 -e POSTGRES_PASSWORD="$DB_PASSWORD" -e PGPASSWORD="$DB_PASSWORD" -d postgres:16.4
      # CAUTION: if changing the script below, validate that sensitive information is not printed in the workflow
      - name: Run update
        run: |
          docker exec dpc-app-db-1 psql -U $DB_USER -h $HOST -d dpc_queue -v ENV=${{ inputs.env }} -v "ATTRIBUTION_DB_USER=$ATTRIBUTION_READ_ONLY_USER" -v "ATTRIBUTION_DB_PASS=$ATTRIBUTION_READ_ONLY_DB_PASS" -f scripts/config_fdw.sql
